.theme-dark .sidebar_ded4b5,
.theme-dark .sidebarRegionScroller__1fa7e,
.theme-dark .searchResultsWrap__9f374,
.theme-dark .callContainer_cbde45,
.theme-dark .mainCard__8a660,
.theme-dark .replyBar_b64d74,
.theme-dark .attachedBars_da3c74,
.theme-dark .container__6968f,
.theme-dark .container__9c82e,
.theme-dark .container__9f90c,
.theme-dark .iconContainer__82920,
.theme-dark .box__6431e {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-light .sidebar_ded4b5,
.theme-light .sidebarRegionScroller__1fa7e,
.theme-light .searchResultsWrap__9f374,
.theme-light .callContainer_cbde45,
.theme-light .mainCard__8a660,
.theme-light .replyBar_b64d74,
.theme-light .attachedBars_da3c74,
.theme-light .container__6968f,
.theme-light .container__9c82e,
.theme-light .container__9f90c,
.theme-light .iconContainer__82920,
.theme-light .box__6431e {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.mainCard__8a660 .input_d266e7 {
    background: none;
}
.theme-dark .callContainer_cbde45 {
    background: var(--bg-overlay-1,var(--background-secondary)) !important;
}
.theme-light .callContainer_cbde45 {
    background: var(--bg-overlay-1,var(--background-secondary)) !important;
}
.pageWrapper_fef757,
.homeWrapper__59a03,
.contentRegionScroller__86c79 {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.homeWrapper__59a03 > .headerBar_afb1ac,
.homeWrapper__59a03 > .scroller__244e5 {
    background: none;
}
.custom-theme-background .searchHeader__19d87,
.row_c1b980 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.theme-dark.custom-theme-background .contentRegionShownSidebar__610ed::-webkit-scrollbar-thumb,
.theme-dark.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-thumb,
.theme-dark.custom-theme-background .sidebarRegionScroller__1fa7e::-webkit-scrollbar-thumb {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),to(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),var(--custom-theme-background);
}
.theme-dark.custom-theme-background .contentRegionShownSidebar__610ed::-webkit-scrollbar-track,
.theme-dark.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/.4)),to(rgb(var(--bg-overlay-color)/.4))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/.4),rgb(var(--bg-overlay-color)/.4)),var(--custom-theme-background);
}
.theme-light.custom-theme-background .contentRegionShownSidebar__610ed::-webkit-scrollbar-thumb,
.theme-light.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-thumb,
.theme-light.custom-theme-background .sidebarRegionScroller__1fa7e::-webkit-scrollbar-thumb {
    background-size: 100vh;
    background-image: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3));
}
.theme-light.custom-theme-background .contentRegionShownSidebar__610ed::-webkit-scrollbar-track,
.theme-light.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),to(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),var(--custom-theme-background);
}
.contentRegion__0bec1,
.root-2x5M19,
.root_a28985,
.wrapper_c727b6,
.themeEditor__6df21,
.categoryItemDefaultCategorySelected__8245a,
.categoryItemDefaultCategorySelected__8245a:hover,
.containerSidenav__2623a {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.accountProfileCard__22589,
.container_e4c233,
.floating-window-titlebar,
.header_f5cc88,
.tertiary_bc0225,
.container__7712a,
.wrapper__4f229,
.bd-search-wrapper,
.userProfileInnerThemedNonPremium__3d0a6 .overlayBackground__86b78,
.badgeList_ef4131 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.background_b61fcc,
.fieldList_aab0de,
.contentWrapper__321ed,
.footer__89240,
.container__2c498,
.secondary_c96c46,
.friendRequestsButton_f19806,
.userProfileInnerThemedNonPremium__3d0a6 .overlayBackground__86b78,
.itemFilled__373d7,
.wrapper__7a35f,
.bd-addon-list .bd-addon-card,
.notDetected__2a0c9 {
    background: var(--bg-overlay-3,var(--background-secondary));
}
#bd-editor-controls,
.floating-window #bd-editor-controls,
.userProfileInnerThemedNonPremium__3d0a6,
.card-x5zW6z,
.iconWrapper-eK7GO6,
.inspector__993e1,
.card__86773,
.iconMask__1aff7,
.bd-addon-list .bd-addon-header,
.userProfileOuterUnthemed__48723 > .userPanelInnerThemed__1804b,
.stepNumber_f429db {
    background: var(--bg-overlay-1,var(--background-secondary-alt));
}
.paymentNote-3dcb-Z,
.wrapper-wOVKdL,
.body__59737 {
    background-color: transparent;
}
.modalHeader-gQTY3L {
    background: none;
}
.side_b4b3f6 .selected__5711d.item__48dda,
.itemFilled__373d7[aria-checked=true],
.navButtonActive__735cb,
.side_b4b3f6 .themed_b957e8.selected__5711d.item__48dda,
.topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda {
    background: var(--bg-overlay-selected,var(--background-modifier-selected));
}
.side_b4b3f6 .item__48dda:hover,
.itemFilled__373d7:hover,
.side_b4b3f6 .themed_b957e8.item__48dda:hover:not(.disabled__85bca), .topPill__0cdf1 .themed_b957e8.item__48dda:hover:not(.disabled__85bca) {
    background: var(--bg-overlay-hover,var(--background-modifier-hover));
}
.lookFilled__19298.colorPrimary__6ed40,
.buttonColor__6f6b0,
.container-x8Y1ix {
    background: var(--bg-overlay-3,var(--button-secondary-background));
}
.lookFilled__19298.colorPrimary__6ed40:hover,
.buttonColor__6f6b0:hover,
.container_ca50b9 .lookBlank__7ca0a:hover,
#bd-editor-controls button:hover,
.container-x8Y1ix:hover {
    background: var(--bg-overlay-hover,var(--button-secondary-background-hover));
}
.lookFilled__19298.colorPrimary__6ed40:active,
.buttonColor__6f6b0:active,
.itemFilled__373d7:active,
.container_ca50b9 .lookBlank__7ca0a:active,
#bd-editor-controls button:active,
.container-x8Y1ix:active {
    background: var(--bg-overlay-active,var(--button-secondary-background-active));
}
.input_d266e7,
#app-mount .bioTextArea_a108c9,
.circle__7dd22 {
    background: var(--bg-overlay-app-frame,var(--input-background));
}
.auto_a48086::-webkit-scrollbar-thumb,
.thin_b1c063::-webkit-scrollbar-thumb,
.contentPanel__2fdef::-webkit-scrollbar-thumb {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),to(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),var(--custom-theme-background);
}
.auto_a48086::-webkit-scrollbar-track,
.contentPanel__2fdef::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/.4)),to(rgb(var(--bg-overlay-color)/.4))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/.4),rgb(var(--bg-overlay-color)/.4)),var(--custom-theme-background);
}
.section_efc22d {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.wrapper__6e669 {
    background: var(--bg-overlay-3,var(--background-secondary));
}
#app-mount .ColorwaySelectorBtn:not(:hover) {
    background: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
}
.theme-dark .colorwayPresetContainer,
.theme-dark .settingRow,
.theme-dark .colorwayCreatorPreviewPanel,
.theme-dark .choiceContainer > .choice.active {
    background: var(--bg-overlay-3,var(--background-secondary));
}

.theme-light .colorwayPresetContainer,
.theme-light .settingRow,
.theme-light .colorwayCreatorPreviewPanel,
.theme-light .choiceContainer > .choice.active {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.choiceContainer > .choice:hover {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.choiceContainer {
    background: var(--bg-overlay-chat,var(--background-primary));
}
*::-webkit-scrollbar-corner {
    background-color: transparent;
}
.contentPanel__2fdef::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
.contentPanel__2fdef::-webkit-scrollbar-thumb,
.contentPanel__2fdef::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}
.container_def45c,
.icon_d2bc2f,
.messageContainer_aa7d14,
.previewMessage__1075c {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.theme-dark .colorwayAuthor,
.theme-dark .colorwayImport,
.theme-dark .colorwayCodeblock,
.theme-dark .markup_a7e664 code,
.theme-dark .container__20de0,
.theme-dark .channelHeader__5d30c,
.theme-dark .messagesPopoutWrap_b3b384,
.theme-dark .cameraWrapper__1ee6d {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-light .colorwayAuthor,
.theme-light .colorwayImport,
.theme-light .colorwayCodeblock,
.theme-light .markup_a7e664 code,
.theme-light .container__20de0,
.theme-light .channelHeader__5d30c,
.theme-light .messagesPopoutWrap_b3b384,
.theme-light .cameraWrapper__1ee6d {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.iconWrapper__85630,
.theme-dark .bar_e58961, .theme-dark .markDash_dc3ae9,
.option_a0c054:not(.selected_ea51d6) {
    background: var(--bg-overlay-4,var(--background-accent));
}
.jumpButton_da1ebb,
.cardPrimary_cb7a0e.outline_cb0aed {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.folder__17546:not(:has(.expandedFolderIconWrapper__458cf)) {
    background: none !important;
}
.expandedFolderBackground__1bec6.collapsed__0a270 {
  background: none !important;
}
.tooltip__01384,
.lookFilled__3dba3.select__0eb48,
.search__24107 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
}
.messageGroupWrapper_f8c6e9,
.wrapper__03d5e,
.directoryContainer_d3edd9,
.headerIcon__8e637,
.commandName__72789 {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.theme-dark .jumpButton__0329d,
.theme-dark .upload_c98ecb,
.theme-dark .connection_fff5f6,
.theme-dark .paymentPane__9cf01,
.theme-dark .paginator_e620d3,
.theme-dark .payment__7d702,
.theme-dark .codeRedemptionRedirect_bc7f36,
.theme-dark .soundButtonSettingContainer__548af,
.theme-dark .category_ba5745,
.theme-dark .container__7b33c,
.theme-dark .container_dabadb,
.theme-dark .list_b1e6a9 {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-light .jumpButton__0329d,
.theme-light .upload_c98ecb,
.theme-light .connection_fff5f6,
.theme-light .paymentPane__9cf01,
.theme-light .paginator_e620d3,
.theme-light .payment__7d702,
.theme-light .codeRedemptionRedirect_bc7f36,
.theme-light .soundButtonSettingContainer__548af,
.theme-light .category_ba5745,
.theme-light .container__7b33c,
.theme-light .container_dabadb,
.theme-light .list_b1e6a9 {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.accountButtonInner__80e3a {
    background-color: transparent;
}
.wrapper__03d5e {
    border-radius: 8px;
    height: 48px;
}
.theme-dark .connectContainer__8050b,
.theme-dark .connectionHeader__3c82d,
.theme-dark .bigPerkCard-1uwmWV,
.theme-dark .innerWrapper-Eo2E86,
.theme-dark .smallPerkCard-2sX_--,
.theme-dark .guildContainer__9d362,
.theme-dark .wrapper__0df00,
.theme-dark .vc-addon-card,
.theme-dark .card__834d4 {
    background: var(--bg-overlay-1,var(--background-secondary-alt));
}
.theme-light .connectContainer__8050b,
.theme-light .connectionHeader__3c82d,
.theme-light .bigPerkCard-1uwmWV,
.theme-light .innerWrapper-Eo2E86,
.theme-light .smallPerkCard-2sX_--,
.theme-light .guildContainer__9d362,
.theme-light .wrapper__0df00,
.theme-light .vc-addon-card,
.theme-light .card__834d4 {
    background: var(--bg-overlay-3,var(--background-secondary-alt));
}
.header__53b07 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.theme-dark .container__8261a,
.theme-dark .footer_ceda43 {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-light .container__8261a,
.theme-light .footer_ceda43 {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.container__6604b {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.footer_a3029c,
.button__3ecb4 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.menu_dc52c6 {
    background: var(--bg-overlay-1,var(--background-floating));
}
.theme-dark .embedFull__8dc21,
.theme-dark .footer__06f4b,
.theme-dark .hljs,
.theme-dark .textContainer__709ff {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-light .embedFull__8dc21,
.theme-light .footer__06f4b,
.theme-light .hljs,
.theme-light .textContainer__709ff {
    background: var(--bg-overlay-2,var(--background-secondary));
}
