.theme-dark .sidebar_a4d4d9,
.theme-dark .sidebarRegionScroller_c25c6d,
.theme-dark .searchResultsWrap_c2b47d,
.theme-dark .callContainer_d880dc,
.theme-dark .mainCard_a6d69a,
.theme-dark .replyBar_b11c5e,
.theme-dark .attachedBars_d0696b,
.theme-dark .container_b01337,
.theme-dark .container_d00e26,
.theme-dark .container_a2e886,
.theme-dark .iconContainer_e677b7,
.theme-dark .box_f70f48 {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-light .sidebar_a4d4d9,
.theme-light .sidebarRegionScroller_c25c6d,
.theme-light .searchResultsWrap_c2b47d,
.theme-light .callContainer_d880dc,
.theme-light .mainCard_a6d69a,
.theme-light .replyBar_b11c5e,
.theme-light .attachedBars_d0696b,
.theme-light .container_b01337,
.theme-light .container_d00e26,
.theme-light .container_a2e886,
.theme-light .iconContainer_e677b7,
.theme-light .box_f70f48 {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.mainCard_a6d69a .input_f8bc55 {
    background: none;
}
.theme-dark .callContainer_d880dc {
    background: var(--bg-overlay-1,var(--background-secondary)) !important;
}
.theme-light .callContainer_d880dc {
    background: var(--bg-overlay-1,var(--background-secondary)) !important;
}
.pageWrapper_a3a4ce,
.homeWrapper_d175a8,
.contentRegionScroller_c25c6d {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.homeWrapper_d175a8 > .headerBar_d175a8,
.homeWrapper_d175a8 > .scroller__244e5 {
    background: none;
}
.custom-theme-background .searchHeader_b7c924,
.row_e677b7 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.theme-dark.custom-theme-background .contentRegionShownSidebar_c25c6d::-webkit-scrollbar-thumb,
.theme-dark.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-thumb,
.theme-dark.custom-theme-background .sidebarRegionScroller_c25c6d::-webkit-scrollbar-thumb {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),to(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),var(--custom-theme-background);
}
.theme-dark.custom-theme-background .contentRegionShownSidebar_c25c6d::-webkit-scrollbar-track,
.theme-dark.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/.4)),to(rgb(var(--bg-overlay-color)/.4))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/.4),rgb(var(--bg-overlay-color)/.4)),var(--custom-theme-background);
}
.theme-light.custom-theme-background .contentRegionShownSidebar_c25c6d::-webkit-scrollbar-thumb,
.theme-light.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-thumb,
.theme-light.custom-theme-background .sidebarRegionScroller_c25c6d::-webkit-scrollbar-thumb {
    background-size: 100vh;
    background-image: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3));
}
.theme-light.custom-theme-background .contentRegionShownSidebar_c25c6d::-webkit-scrollbar-track,
.theme-light.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),to(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),var(--custom-theme-background);
}
.contentRegion_c25c6d,
.root-2x5M19,
.root_f9a4c9,
.wrapper_ef319f,
.themeEditor_c9dda6,
.categoryItemDefaultCategorySelected_dfa278,
.categoryItemDefaultCategorySelected_dfa278:hover,
.containerSidenav_d576e9 {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.accountProfileCard_b69b77,
.container_effbe2,
.floating-window-titlebar,
.header_ac90a2,
.tertiary_ad6d80,
.container__33507,
.wrapper_dc0b29,
.bd-search-wrapper,
.userProfileInnerThemedNonPremium_c69a7b .overlayBackground_c69a7b,
.badgeList_ab525a {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.background_b69b77,
.fieldList_b69b77,
.contentWrapper_af5dbb,
.footer_f9a4c9,
.container_fe1358,
.secondary__45d4f,
.friendRequestsButton_c0c071,
.userProfileInnerThemedNonPremium_c69a7b .overlayBackground_c69a7b,
.itemFilled_eb92a8,
.wrapper_e06857,
.bd-addon-list .bd-addon-card,
.notDetected_fd966d {
    background: var(--bg-overlay-3,var(--background-secondary));
}
#bd-editor-controls,
.floating-window #bd-editor-controls,
.userProfileInnerThemedNonPremium_c69a7b,
.card-x5zW6z,
.iconWrapper-eK7GO6,
.inspector_c3120f,
.card_eb1ca6,
.iconMask_eb1ca6,
.bd-addon-list .bd-addon-header,
.userProfileOuterUnthemed_c69a7b > .userPanelInnerThemed_c69a7b,
.stepNumber_f70f48 {
    background: var(--bg-overlay-1,var(--background-secondary-alt));
}
.paymentNote-3dcb-Z,
.wrapper-wOVKdL,
.body_bf926b {
    background-color: transparent;
}
.modalHeader-gQTY3L {
    background: none;
}
.side_a0 .selected_a0.item_a0,
.itemFilled_eb92a8[aria-checked=true],
.navButtonActive_af5dbb,
.side_a0 .themed_a0.selected_a0.item_a0,
.topPill_a0 .themed_a0.selected_a0.item_a0 {
    background: var(--bg-overlay-selected,var(--background-modifier-selected));
}
.side_a0 .item_a0:hover,
.itemFilled_eb92a8:hover,
.side_a0 .themed_a0.item_a0:hover:not(.disabled_a0), .topPill_a0 .themed_a0.item_a0:hover:not(.disabled_a0) {
    background: var(--bg-overlay-hover,var(--background-modifier-hover));
}
.lookFilled_dd4f85.colorPrimary_dd4f85,
.buttonColor_dfbe6b,
.container-x8Y1ix {
    background: var(--bg-overlay-3,var(--button-secondary-background));
}
.lookFilled_dd4f85.colorPrimary_dd4f85:hover,
.buttonColor_dfbe6b:hover,
.container_b2ca13 .lookBlank_dd4f85:hover,
#bd-editor-controls button:hover,
.container-x8Y1ix:hover {
    background: var(--bg-overlay-hover,var(--button-secondary-background-hover));
}
.lookFilled_dd4f85.colorPrimary_dd4f85:active,
.buttonColor_dfbe6b:active,
.itemFilled_eb92a8:active,
.container_b2ca13 .lookBlank_dd4f85:active,
#bd-editor-controls button:active,
.container-x8Y1ix:active {
    background: var(--bg-overlay-active,var(--button-secondary-background-active));
}
.input_f8bc55,
#app-mount .bioTextArea_ccf27d,
.circle_d7c696 {
    background: var(--bg-overlay-app-frame,var(--input-background));
}
.auto_eed6a8::-webkit-scrollbar-thumb,
.thin_eed6a8::-webkit-scrollbar-thumb,
.contentPanel_d576e9::-webkit-scrollbar-thumb {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),to(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),var(--custom-theme-background);
}
.auto_eed6a8::-webkit-scrollbar-track,
.contentPanel_d576e9::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/.4)),to(rgb(var(--bg-overlay-color)/.4))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/.4),rgb(var(--bg-overlay-color)/.4)),var(--custom-theme-background);
}
.section_cd82a7 {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.wrapper_cd82a7 {
    background: var(--bg-overlay-3,var(--background-secondary));
}
#app-mount .ColorwaySelectorBtn:not(:hover) {
    background: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
}
.theme-dark .colorwayPresetContainer,
.theme-dark .settingRow,
.theme-dark .colorwayCreatorPreviewPanel,
.theme-dark .choiceContainer > .choice.active {
    background: var(--bg-overlay-3,var(--background-secondary));
}

.theme-light .colorwayPresetContainer,
.theme-light .settingRow,
.theme-light .colorwayCreatorPreviewPanel,
.theme-light .choiceContainer > .choice.active {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.choiceContainer > .choice:hover {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.choiceContainer {
    background: var(--bg-overlay-chat,var(--background-primary));
}
*::-webkit-scrollbar-corner {
    background-color: transparent;
}
.contentPanel_d576e9::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
.contentPanel_d576e9::-webkit-scrollbar-thumb,
.contentPanel_d576e9::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}
.container_d1c246,
.icon_b0914a,
.messageContainer_ddb5b4,
.previewMessage_c31d36 {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.theme-dark .colorwayAuthor,
.theme-dark .colorwayImport,
.theme-dark .colorwayCodeblock,
.theme-dark .markup_d6076c code,
.theme-dark .container_f1c3d9,
.theme-dark .channelHeader_f3978e,
.theme-dark .messagesPopoutWrap_ac90a2,
.theme-dark .cameraWrapper_ff1ac9 {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-light .colorwayAuthor,
.theme-light .colorwayImport,
.theme-light .colorwayCodeblock,
.theme-light .markup_d6076c code,
.theme-light .container_f1c3d9,
.theme-light .channelHeader_f3978e,
.theme-light .messagesPopoutWrap_ac90a2,
.theme-light .cameraWrapper_ff1ac9 {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.iconWrapper_ec583a,
.theme-dark .bar_c7a159, .theme-dark .markDash_c7a159,
.option_d2da9c:not(.selected_d2da9c) {
    background: var(--bg-overlay-4,var(--background-accent));
}
.jumpButton_ac3dc2,
.cardPrimary_cb7a0e.outline_a298b8 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.folder_bc7085:not(:has(.expandedFolderIconWrapper_bc7085)) {
    background: none !important;
}
.expandedFolderBackground_bc7085.collapsed_bc7085 {
  background: none !important;
}
.tooltip_b6c360,
.lookFilled_f6639d.select_f6639d,
.search_aabd24 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
}
.messageGroupWrapper_ac90a2,
.wrapper_c36ce4,
.directoryContainer_da3f59,
.headerIcon_a1eac2,
.commandName_e0307d {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.theme-dark .jumpButton_ac90a2,
.theme-dark .upload_df1eaf,
.theme-dark .connection_e2a436,
.theme-dark .paymentPane_f66684,
.theme-dark .paginator_f66684,
.theme-dark .payment_a28a08,
.theme-dark .codeRedemptionRedirect_cb70f4,
.theme-dark .soundButtonSettingContainer_c801bb,
.theme-dark .category_d7acc7,
.theme-dark .container_d9c848,
.theme-dark .container_bf1c84,
.theme-dark .list_e0307d {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-light .jumpButton_ac90a2,
.theme-light .upload_df1eaf,
.theme-light .connection_e2a436,
.theme-light .paymentPane_f66684,
.theme-light .paginator_f66684,
.theme-light .payment_a28a08,
.theme-light .codeRedemptionRedirect_cb70f4,
.theme-light .soundButtonSettingContainer_c801bb,
.theme-light .category_d7acc7,
.theme-light .container_d9c848,
.theme-light .container_bf1c84,
.theme-light .list_e0307d {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.accountButtonInner_e2a436 {
    background-color: transparent;
}
.wrapper_c36ce4 {
    border-radius: 8px;
    height: 48px;
}
.theme-dark .connectContainer_e2a436,
.theme-dark .connectionHeader_e2a436,
.theme-dark .bigPerkCard-1uwmWV,
.theme-dark .innerWrapper-Eo2E86,
.theme-dark .smallPerkCard-2sX_--,
.theme-dark .guildContainer_e0d799,
.theme-dark .wrapper_d4ec61,
.theme-dark .vc-addon-card,
.theme-dark .card_e90143 {
    background: var(--bg-overlay-1,var(--background-secondary-alt));
}
.theme-light .connectContainer_e2a436,
.theme-light .connectionHeader_e2a436,
.theme-light .bigPerkCard-1uwmWV,
.theme-light .innerWrapper-Eo2E86,
.theme-light .smallPerkCard-2sX_--,
.theme-light .guildContainer_e0d799,
.theme-light .wrapper_d4ec61,
.theme-light .vc-addon-card,
.theme-light .card_e90143 {
    background: var(--bg-overlay-3,var(--background-secondary-alt));
}
.header_e664f3 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.theme-dark .container_e664f3,
.theme-dark .footer_f82cc7 {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-light .container_e664f3,
.theme-light .footer_f82cc7 {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.container_acb8b3 {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.footer_ac90a2,
.button_a24e84 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.menu_d90b3d {
    background: var(--bg-overlay-1,var(--background-floating));
}
.theme-dark .embedFull_ad0b71,
.theme-dark .footer_ad9cbd,
.theme-dark .hljs,
.theme-dark .textContainer_ad9cbd {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-light .embedFull_ad0b71,
.theme-light .footer_ad9cbd,
.theme-light .hljs,
.theme-light .textContainer_ad9cbd {
    background: var(--bg-overlay-2,var(--background-secondary));
}
