/*Bigger Channel Bar*/
.content-1jQy2l::before {
    content: none;
}
.title-31SJ6t {
    margin: 8px;
    width: calc(100% - 16px);
}
/*Expandable search bar*/
.searchBar-jGtisZ {
    padding: 8px;
    height: fit-content;
    background-color: transparent;
    transition: .3s !important;
    width: 40px;
}
.focused-1xh-wG .searchBar-jGtisZ, .open-1F8u2c .searchBar-jGtisZ, .searchBar-jGtisZ:hover {
    background-color: var(--background-tertiary);
    width: 224px;
    margin: 0 10px;
}
.search-39IXmY {
    margin: 0;
}
.searchBar-jGtisZ .iconContainer-1RqWJj {
    width: 24px;
    height: 24px;
    transition: .3s;
}
.focused-1xh-wG .searchBar-jGtisZ .iconContainer-1RqWJj, .open-1F8u2c .searchBar-jGtisZ .iconContainer-1RqWJj, .searchBar-jGtisZ:hover .iconContainer-1RqWJj {
    width: 18px;
    height: 18px;
}
.searchBar-jGtisZ .iconContainer-1RqWJj>svg {
    color: var(--interactive-normal);
}
.search-39IXmY {
    order: -1;
}
.peopleListItem-u6dGxF {
    width: calc(50% - 20px) !important;
    float: left;
    margin: 0 10px !important;
    padding: 10px;
    border: none;
}
.peopleListItem-u6dGxF:hover {
    background-color: var(--background-tertiary);
}
.searchBar-2aylmZ {
    border-radius: 8px;
}
.searchBar-2aylmZ input {
    padding: 5px 15px !important;
    height: fit-content !important;
}
.searchBar-2aylmZ .iconLayout-3Bjizv {
    margin-right: 10px;
}
.container-ZMc96U {
    margin: 8px;
    width: calc(100% - 16px);
}
.tabBody-2dgbAs::before, .container-ZMc96U::before {
    content: none;
}
.tabBar-ra-EuL .item-3mHhwr {
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid var(--background-modifier-selected);
}
.divider-q3P9HC {
    display: none;
}
