section.panels-3wFtMD .container-YkUktl .button-12Fmur {
    width: calc(224px/3);
    border-radius: 50px !important;
}
section.panels-3wFtMD .container-YkUktl .flex-2S1XBF {
    width: 100% !important;
    float: left !important;
    height: 32px !important;
    max-width: unset !important;
    justify-content: stretch !important;
    margin: 10px 0 !important;
    flex: 0 1 auto !important;
}
section.panels-3wFtMD .avatarWrapper-1B9FTW {
    width: calc(100% - 10px);
    max-width: unset;
    float: left;
    padding: 7px;
    border-radius: 8px !important;
    transition: .1s;
}
section.panels-3wFtMD .avatarWrapper-1B9FTW:hover {
    background-color: var(--background-modifier-selected);
}
section.panels-3wFtMD .container-YkUktl {
    display: block;
    padding-top: 5px;
}
section.panels-3wFtMD {
    --cyan-elevation-shadow: 0 0 0 1px rgba(180,180,180,.4), 0 2px 10px 0 rgb(0 0 0 / 60%);
    display: inline-block;
    margin: 10px;
    margin-top: 0;
    border-radius: 8px;
    box-shadow: var(--cyan-elevation-shadow);
    background-color: var(--background-floating);
}
