:root {
  --guild-list-width: 290px;
  --guild-list-height: 48px;
  --guild-item-radius: 50px;
  --guild-item-spacing: 8px;
  --guild-item-font-size: 16px;
}
.guilds__2b93a {
  width: var(--guild-list-width);
}

.listItem__48528,
.wrapper__832f2,
.svg__34dd4,
.blobContainer_c44493,
.listItem__48528>.wrapper_b4903b+div:not([class]),
.wrapper__9916c,
.svg__34dd4>foreignObject {
  width: calc(var(--guild-list-width) - 12px);
  mask: none !important;
}

.listItem__48528:not(:has(.guildSeparator__75928)),
.wrapper__9916c,
.svg__34dd4>foreignObject {
  height: var(--guild-list-height);
}

.expandedFolderBackground_b1385f {
  width: calc(var(--guild-list-width) - 24px);
  border-radius: min(24px, var(--guild-item-radius));
}

.svg__34dd4>foreignObject {
  transform: translateX(calc((((var(--guild-list-width) - 12px)*-1)/2) + 50%));
}

.wrapper__8436d,
.folder__17546,
.circleIconButton__05cf2 {
  margin-left: 12px;
  width: calc(var(--guild-list-width) - 24px);
  justify-content: start;
  border-radius: var(--guild-item-radius) !important;
  height: var(--guild-list-height);
}

.wrapper__8436d img,
.folderIconWrapper__11165,
.childWrapper_a6ce15,
.expandedFolderIconWrapper__324c1,
.closedFolderIconWrapper__722d5 {
  border-radius: var(--guild-item-radius) !important;
  height: var(--guild-list-height);
  width: var(--guild-list-height);
}

.svg__34dd4 {
  position: static;
}

[data-dnd-name]:has(>.wrapper__9916c)::after {
  content: attr(data-dnd-name);
  width: calc(var(--guild-list-width) - 24px - var(--guild-list-height) - 12px);
  position: absolute;
  top: 0;
  left: calc(12px + var(--guild-list-height) + 6px);
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--channels-default);
  font-size: var(--guild-item-font-size);
  line-height: var(--guild-list-height);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  transition: color .15s ease-out, background-color .15s ease-out;
}

[data-dnd-name]:has(>.wrapper__9916c .selected_ae80f7, >.wrapper__9916c .hover__043de)::after {
  color: var(--interactive-active);
}

:has(>.wrapper__9916c .selected_ae80f7, >.wrapper__9916c .hover__043de) :is(.wrapper__8436d, .folder__17546, .circleIconButton__05cf2) {
  background-color: var(--background-primary) !important;
}

.wrapperSimple__9e2b0 {
  border-radius: 0 !important;
}

.circleIcon_b62ef0 {
  margin-left: 12px;
  height: var(--guild-list-height);
}

.circleIconButton__05cf2::after {
  content: attr(aria-label);
  width: calc(var(--guild-list-width) - 24px - var(--guild-list-height) - 12px);
  position: absolute;
  top: 0;
  left: calc(12px + var(--guild-list-height) + 6px);
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--green-360);
  font-size: var(--guild-item-font-size);
  line-height: var(--guild-list-height);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .15s ease-out, background-color .15s ease-out;
  pointer-events: none;
}

.circleIconButton__05cf2.selected_aded59::after,
.ColorwaySelectorBtn:hover::after {
  color: var(--interactive-active);
}

.wrapper__8436d[data-list-item-id*="guildsnav___"]::after {
  content: attr(aria-label);
  width: calc(var(--guild-list-width) - 24px - var(--guild-list-height) - 12px);
  position: absolute;
  top: 0;
  left: calc(12px + var(--guild-list-height) + 6px);
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--channels-default);
  font-size: var(--guild-item-font-size);
  line-height: var(--guild-list-height);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .15s ease-out, background-color .15s ease-out;
  pointer-events: none;
}

.wrapper__8436d[data-list-item-id*="guildsnav___"].selected_ae80f7::after {
  color: var(--interactive-active);
}

.colorwaySelectorIcon {
  height: var(--guild-list-height) !important;
  width: var(--guild-list-height) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ColorwaySelectorBtn {
  position: relative;
  width: calc(var(--guild-list-width) - 24px) !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  justify-content: start !important;
  gap: 6px;
  height: var(--guild-list-height) !important;
}

.ColorwaySelectorBtn::before {
  content: "";
  position: absolute;
  background-color: var(--background-primary);
  border-radius: var(--guild-item-radius);
  height: var(--guild-list-height) !important;
  width: var(--guild-list-height) !important;
  transition: .15s ease-out;
  left: 0;
}

.ColorwaySelectorBtn:hover::before {
  background-color: var(--brand-experiment);
}

.ColorwaySelectorBtn::after {
  content: "Colorways";
  width: calc(var(--guild-list-width) - 24px - 48px - 12px);
  position: absolute;
  top: 0;
  left: calc(6px + 48px);
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--channels-default);
  font-size: var(--guild-item-font-size);
  line-height: var(--guild-list-height);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .15s ease-out, background-color .15s ease-out;
  pointer-events: none;
}

.wrapper__832f2>[id*="folder-items-"] {
  height: fit-content !important;
}

.expandedFolderBackground_b1385f {
  height: 100%;
}

.upperBadge__00ad0,
.lowerBadge_e89e22 {
  transform: translateX(-50%) !important;
  box-shadow: 0 0 0 3px var(--background-floating);
  border-radius: 50%;
}

.pill__13f64,
.wrapper_b4903b,
.colorwaysBtnPill {
  height: var(--guild-list-height) !important;
  align-items: center;
}

.item_f9d377 {
  max-height: var(--guild-list-height);
}

.ColorwaySelectorBtn::after {
  position: static;
  height: unset !important;
  line-height: var(--guild-list-height);
  transform: translateX(6px);
}

.ColorwaySelectorBtn {
  gap: 0 !important;
}

.circleIcon_b62ef0 {
  margin-left: 0;
}

.circleIcon_b62ef0 {
  width: var(--guild-list-height);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: calc(var(--guild-list-height)/7);
}

.blobContainer_c44493 .wrapper__8436d[data-list-item-id*="guildsnav___"]::after {
  content: none;
}

.listItem__48528 {
  margin: 0 0 var(--guild-item-spacing);
}
