#account-status-picker--online {
    --brand-experiment-560: var(--green-360);
}
#account-status-picker--dnd {
    --brand-experiment-560: var(--red-400);
}
#account-status-picker--idle {
    --brand-experiment-560: var(--yellow-330);
}
#account-status-picker--invisible {
    --brand-experiment-560: var(--primary-400);
}
#account [class*=submenu_] [class*=separator] {
    display: none;
}
#account [class*=submenu_] [class*=description] {
    height: fit-content;
    overflow: hidden;
    max-height: 0rem;
    transition: .2s ease !important;
    width: 100%;
    flex: 0 0 100%;
    display: flex;
}
#account [class*=submenu_] [class*=focused] [class*=description] {
    max-height: 4rem;
}
#account-status-picker--online [class*=statusItem], 
#account-status-picker--idle [class*=statusItem], 
#account-status-picker--dnd [class*=statusItem], 
#account-status-picker--ofline [class*=statusItem] {
    display: flex;
    flex-wrap: wrap;
}
[class*=statusItem] [class*=icon__] {
    margin-right: 10px;
    flex: 0 0 10px;
}
[class*=statusItem] > [class*=status__] {
    width: calc(100% - 20px);
    display: flex;
}
#account-status-picker--idle [class*=statusItem]::after {
    content: "Active but idle/away.";
    height: fit-content;
    overflow: hidden;
    max-height: 0rem;
    transition: .2s ease !important;
    width: 100%;
    flex: 0 0 100%;
    display: flex;
}
#account-status-picker--idle[class*=focused] [class*=statusItem]::after {
    max-height: 1rem !important;
}
