#status-status-picker--online[class*=focused],
#status-status-picker[class*=focused]:has([mask="url(#svg-mask-status-online)"]) {
    background-color: var(--green-360);
}
#status-status-picker--dnd[class*=focused],
#status-status-picker[class*=focused]:has([mask="url(#svg-mask-status-dnd)"]) {
    background-color: var(--red-400);
}
#status-status-picker--idle[class*=focused],
#status-status-picker[class*=focused]:has([mask="url(#svg-mask-status-idle)"]) {
    background-color: var(--yellow-330);
}
#status-status-picker--invisible[class*=focused],
#status-status-picker[class*=focused]:has([mask="url(#svg-mask-status-invisible)"]) {
    background-color: var(--primary-400);
}
#status .submenu_c1e9c4 .separator_c1e9c4 {
    display: none;
}
#status .submenu_c1e9c4 .description_af7fb7 {
    height: fit-content;
    overflow: hidden;
    max-height: 0rem;
    transition: .2s ease !important;
    width: 100%;
    flex: 0 0 100%;
    display: flex;
}
#status .submenu_c1e9c4 .item_c1e9c4.focused_c1e9c4 .description_af7fb7 {
    max-height: 4rem;
}
.statusItem_af7fb7 {
    display: flex;
    flex-wrap: wrap;
}
.statusItem_af7fb7 .icon_af7fb7 {
    margin-right: 10px;
    flex: 0 0 10px;
}
.status_af7fb7 {
    width: calc(100% - 20px);
    display: flex;
}
#status-status-picker--idle .statusItem_af7fb7::after {
    content: "Away from Discord/PC.";
    height: fit-content;
    overflow: hidden;
    max-height: 0rem;
    transition: .2s ease !important;
    width: 100%;
    flex: 0 0 100%;
    display: flex;
}
#status-status-picker--idle.focused_c1e9c4 .statusItem_af7fb7::after {
    max-height: 4rem;
}
