@import url("https://dablulite.github.io/css-snippets/BetterTitlebar/import.css");
.container_fc4f04 {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--declutter-bar-height,31px);
    min-height: unset;
    width: 100vw;
    background: none !important;
    padding-left: 0;
    box-shadow: none;
    padding-right: calc(var(--declutter-bar-button-width, 46px)*3);
    box-sizing: border-box;
}
.upperContainer_fc4f04 {
    -webkit-app-region: drag;
}
.appAsidePanelWrapper_a3002d {
    overflow: visible;
}
.withFrame_a934d8 {
    width: fit-content;
    margin-left: auto;
}
.winButton_a934d8 {
    height: var(--declutter-bar-height,31px);
    width: var(--declutter-bar-button-width, 46px);
}
.bg_d4b6c5 {
    top: calc(var(--declutter-bar-height,31px) * -1) !important;
}
.children_fc4f04:after,
.tabBody__133bf:before {
    content: none;
}
.wordmarkWindows_a934d8 {
    display: none;
}
.topicClickTarget_bf3bbb {
    width: auto;
    display: flex;
    flex: 0 1 auto;
}
.container_fc4f04 .toolbar_fc4f04,
.container_fc4f04 .topicClickTarget_bf3bbb {
    -webkit-app-region: no-drag;
}
.container_fc4f04 .divider_fc4f04 {
    display: none;
}
.search_ff5f90,
.search_a46bef,
.searchBar_a46bef {
    height: var(--declutter-bar-height,31px);
    align-items: center;
}
.DraftEditor-root {
    height: fit-content;
    transition: .2s ease;
}
.search_a46bef:not(.open_a46bef) > .searchBar_a46bef .DraftEditor-root {
    opacity: 0;
    position: absolute;
    width: 100%;
}
.container_fc4f04 .iconWrapper_fc4f04 .icon_fc4f04 {
    scale: var(--declutter-bar-icon-scale,0.8);
}
.input__4f074 {
    box-shadow: none !important;
    border-radius: 0;
}
.container_fc4f04 .topPill_b3f026 {
    height: var(--declutter-bar-height,31px);
    gap: 8px;
}
.container_fc4f04 .tabBar__133bf .item__133bf {
    margin: 4px 0;
    border-radius: 50px;
    background-color: transparent !important;
    color: var(--interactive-normal) !important;
}
.container_fc4f04 .tabBar__133bf .item__133bf:hover {
    background-color: hsl(var(--primary-600-hsl)/.4) !important;
}
.container_fc4f04 .tabBar__133bf .item__133bf.selected_b3f026 {
    background-color: var(--background-primary) !important;
    color: var(--interactive-active) !important;
}
.platform-win .standardSidebarView__23e6b {
    top: 0;
}
.container__01ae2 .container_fc4f04 {
    position: static;
    width: 100%;
    padding: 0;
    background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
    -webkit-app-region: no-drag;
}
.container_fc4f04 .toolbar_fc4f04 {
    height: var(--declutter-bar-height,31px);
}
.container_fc4f04 .toolbar_fc4f04 .iconWrapper_fc4f04 {
    margin: 0;
    width: var(--declutter-bar-button-width, 46px);
    height: var(--declutter-bar-height,31px);
    justify-content: center;
    align-items: center;
    display: flex;
}
.container_fc4f04 .toolbar_fc4f04 .iconWrapper_fc4f04:hover {
    background-color: var(--background-modifier-hover);
    color: var(--interactive-hover);
}
.container_fc4f04 .toolbar_fc4f04 .iconWrapper_fc4f04:has(path[d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"]):hover {
    background-color: var(--status-danger);
}
.callContainer_d880dc {
    overflow: visible;
}
.headerWrapper_d880dc {
    margin: 0;
}
.topControls_dd069c {
    width: calc(100% + 32px);
    margin-left: -16px;
    opacity: 1 !important;
    transform: none !important;
}
.topControls_dd069c .justifyEnd_abf706 {
    padding: 8px 16px;
}
.searchBar_a46bef {
    border-radius: 0;
    padding: 0 4px;
    width: var(--declutter-bar-button-width, 46px);
    justify-content: center;
    align-items: center;
}
.search_a46bef:not(.open_a46bef) > .searchBar_a46bef {
    cursor: pointer;
    padding: 0;
}
.search_a46bef:not(.open_a46bef) > .searchBar_a46bef .icon_a46bef {
    cursor: pointer;
}
.searchBar_a46bef:hover,
.open_a46bef > .searchBar_a46bef {
    background-color: var(--background-modifier-hover);
}
.search_ff5f90 {
    margin: 0;
    order: -1;
}
.searchBar_a46bef:hover .icon_a46bef,
.open_a46bef > .searchBar_a46bef .icon_a46bef {
    color: var(--interactive-hover);
}
.container_fc4f04 .toolbar_fc4f04 .iconWrapper_fc4f04 .iconBadge_fc4f04 {
    display: none;
}
.container_fc4f04 .toolbar_fc4f04 .iconWrapper_fc4f04:has(.iconBadge_fc4f04)::after {
    content: "";
    width: var(--declutter-bar-button-width, 46px);
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 0;
    box-shadow: 0 1px 1px hsl(var(--red-400-hsl)/1),0 0px 4px hsl(var(--red-400-hsl)/1);
}
.container_fc4f04 .toolbar_fc4f04 .iconWrapper_fc4f04:has(.iconBadge_fc4f04) {
    overflow: hidden;
}
.autocompleteAttached__6b0e0 {
    z-index: +999;
    background: var(--bg-overlay-chat,var(--background-primary));
}
.children_fc4f04 > .hiddenVisually__27f77:first-of-type {
    display: flex;
    height: fit-content;
    position: static;
    clip: unset;
    clip-path: unset;
    font-size: 0;
    order: -1;
    width: auto;
    flex: 0 0 auto;
    align-items: center;
}
.children_fc4f04 > .hiddenVisually__27f77:first-of-type::after {
    content: "Discord";
    display: flex;
    width: fit-content;
    font-weight: 700;
    color: var(--declutter-bar-wordmark-color,var(--header-primary));
    font-family: var(--declutter-bar-wordmark-font,var(--font-display));
    font-size: var(--declutter-bar-wordmark-font-size, 12px);
    margin-left: 8px;
}
.children_fc4f04 > .hiddenVisually__27f77:first-of-type::before {
    clip-path: path("M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z");
    height: 20px;
    width: var(--declutter-bar-height,31px);
    margin: 0 auto;
    scale: .6;
    margin-left: 4px;
    display: flex;
    background-color: var(--declutter-bar-wordmark-color,var(--header-primary));
    content: var(--declutter-bar-wordmark-icon-enabled, "");
    margin-right: -8px;
}
.children_fc4f04 .titleWrapper_fc4f04:not(:last-of-type) {
    width: max-content;
    flex: 0 0 auto;
    -webkit-app-region: no-drag;
}
.titleWrapper_fc4f04 {
    display: flex;
    min-width: unset;
    width: fit-content;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: unset;
}
.title_fc4f04 {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    font-size: var(--declutter-bar-font-size, 16px);
}
.container__01ae2 .container_fc4f04 {
    z-index: 101;
}
html:has(#activeColorway:not(:empty)) .children_fc4f04 > .hiddenVisually__27f77:first-of-type::after,
html:has(#activeColorwayCSS:not(:empty)) .children_fc4f04 > .hiddenVisually__27f77:first-of-type::after {
    content: "Colorways";
    display: flex;
    width: fit-content;
    font-size: 12px;
    font-family: var(--font-display);
    font-weight: 700;
    background-color: var(--background-primary);
    padding: 2px 8px;
    border-radius: 16px;
    -webkit-app-region: no-drag;
    transition: background-color .15s ease-out, border-radius .2s ease;
    height: min-content;
    color: var(--header-primary);
    margin-left: 0;
}
html:has(#activeColorway:not(:empty)) .children_fc4f04 > .hiddenVisually__27f77:first-of-type:hover::after,
html:has(#activeColorwayCSS:not(:empty)) .children_fc4f04 > .hiddenVisually__27f77:first-of-type:hover::after {
    background-color: var(--brand-experiment);
    border-radius: 8px;
}
.chat_a7d72e:has(.newMessagesBar__0f481) .container_fc4f04,
:root:has(.newMessagesBar__0f481) .container_fc4f04 .searchBar_a46bef:not(:hover) {
    background: var(--brand-600) !important;
}
.chat_a7d72e:has(.newMessagesBar__0f481) .children_fc4f04 > .hiddenVisually__27f77:first-of-type::after {
    content: "Discord | Unread messages";
}
html:has(#activeColorway:not(:empty)) .chat_a7d72e:has(.newMessagesBar__0f481) .children_fc4f04 > .hiddenVisually__27f77:first-of-type::after,
html:has(#activeColorwayCSS:not(:empty)) .chat_a7d72e:has(.newMessagesBar__0f481) .children_fc4f04 > .hiddenVisually__27f77:first-of-type::after {
    content: "Colorways | Unread messages";
}
.chat_a7d72e:has(.newMessagesBar__0f481) .container_fc4f04 :is(.icon_fc4f04,.icon_a46bef,.topic_bf3bbb) {
    color: var(--interactive-hover);
}
:root:has(.newMessagesBar__0f481) .withFrame_a934d8 .winButton_a934d8 {
    color: var(--interactive-hover);
}
.form_a7d72e {
    z-index: 100;
}
.callContainer_d880dc {
    max-width: 100%;
}
.returnButton_c791b2 .contents__201d5 .text-xs-medium__220aa {
    font-size: 0 !important;
}
.returnButton_c791b2 {
    border-radius: 0;
    border: none;
    transition: none;
    margin: 0;
    width: var(--declutter-bar-button-width, 46px);
    padding: 0;
    min-width: unset;
}
.returnButton_c791b2 .contents__201d5 {
    display: flex;
    margin: 0;
    overflow: visible;
    background-image: none !important;
    gap: 4px;
}
.returnButton_c791b2:hover {
    background-color: var(--background-modifier-hover) !important;
}
.returnButton_c791b2 .contents__201d5 .returnIcon_c791b2 {
    color: var(--interactive-normal) !important;
    margin: 0;
}
.returnButton_c791b2:hover .contents__201d5 .returnIcon_c791b2 {
    color: var(--interactive-hover) !important;
}
.returnButton_c791b2 .contents__201d5::before {
    content: "<";
    color: var(--interactive-normal);
    width: fit-content;
    height: 16px;
    display: block;
    font-family: var(--font-code);
}
.returnButton_c791b2:hover .contents__201d5::before {
    color: var(--interactive-hover);
}
.returnButton_c791b2 .iconContainer__2ea32 {
    margin: 0;
}
.searchBar_a46bef {
    background: none;
}
.wrapper_d880dc,
.applicationStore_f07d62 .scroller__244e5,
.applicationStore_f07d62 {
    border-top-left-radius: 8px;
}
.followButton_a7d72e {
    -webkit-app-region: no-drag;
    border-radius: 0;
    height: var(--declutter-bar-height,31px);
    background-color: transparent !important;
    transition: none;
    margin-right: 0;
    margin-left: auto;
    color: var(--interactive-normal) !important;
    width: var(--declutter-bar-button-width, 46px);
    padding: 0;
    order: 10;
}
.followButton_a7d72e:hover {
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-hover) !important;
}
.followButton_a7d72e::before {
    content: "";
    background-color: currentColor;
    clip-path: path("M3.9 8.26H2V15.2941H3.9V8.26Z M19.1 4V5.12659L4.85 8.26447V18.1176C4.85 18.5496 5.1464 18.9252 5.5701 19.0315L9.3701 19.9727C9.4461 19.9906 9.524 20 9.6 20C9.89545 20 10.1776 19.8635 10.36 19.6235L12.7065 16.5242L19.1 17.9304V19.0588H21V4H19.1ZM9.2181 17.9944L6.75 17.3826V15.2113L10.6706 16.0753L9.2181 17.9944Z");
    width: 19px;
    height: 19px;
    display: inline-block;
    scale: .9;
    translate: -2px -1px;
}
.followButton_a7d72e > .contents__201d5 {
    display: none;
}
.titleWrapper_fc4f04 {
    margin-right: 8px;
}
.headerBar__0920e:before {
    content: none;
}
.topic_bf3bbb .anchor_edefb8 {
    display: flex;
    align-items: center;
    gap: 3px;
    height: var(--declutter-bar-height,31px);
    color: var(--interactive-normal);
    padding: 0 2px;
    padding-right: 8px;
    margin: 0 0.25em;
}
.topic_bf3bbb .anchor_edefb8:hover {
    background-color: var(--background-modifier-hover);
    color: var(--interactive-hover);
}
.topic_bf3bbb .anchor_edefb8::before {
    content: "";
    background-color: currentColor;
    clip-path: path("M10.59 13.41c.41.39.41 1.03 0 1.42-.39.39-1.03.39-1.42 0a5.003 5.003 0 0 1 0-7.07l3.54-3.54a5.003 5.003 0 0 1 7.07 0 5.003 5.003 0 0 1 0 7.07l-1.49 1.49c.01-.82-.12-1.64-.4-2.42l.47-.48a2.982 2.982 0 0 0 0-4.24 2.982 2.982 0 0 0-4.24 0l-3.53 3.53a2.982 2.982 0 0 0 0 4.24zm2.82-4.24c.39-.39 1.03-.39 1.42 0a5.003 5.003 0 0 1 0 7.07l-3.54 3.54a5.003 5.003 0 0 1-7.07 0 5.003 5.003 0 0 1 0-7.07l1.49-1.49c-.01.82.12 1.64.4 2.43l-.47.47a2.982 2.982 0 0 0 0 4.24 2.982 2.982 0 0 0 4.24 0l3.53-3.53a2.982 2.982 0 0 0 0-4.24.973.973 0 0 1 0-1.42z");
    width: 22px;
    height: 22px;
    display: inline-block;
    scale: var(--declutter-bar-icon-scale,0.8);
}
.topic_bf3bbb .channelMention {
    border-radius: 0;
    height: var(--declutter-bar-height,31px);
    align-items: center;
    display: flex;
    margin: 0 0.25em;
}
.topic_bf3bbb .channelWithIcon {
    align-items: center;
    display: flex;
}
.topic_bf3bbb .channelWithIcon .icon_b52c3f {
    margin-bottom: 0.05rem;
}
.topic_bf3bbb .channelMention:not(:hover) {
    background-color: transparent;
}
.topic_bf3bbb {
    width: min-content !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    height: var(--declutter-bar-height,31px);
    white-space: nowrap;
    line-height: var(--declutter-bar-height,31px);
    max-width: 50% !important;
    min-width: unset !important;
    position: relative;
    flex: 0 0 auto;
    align-items: center;
}
.container_fc4f04 .children_fc4f04 {
    overflow: hidden;
}
.topic_bf3bbb .channelMention {
    width: fit-content;
    display: inline-flex;
}
.topic_bf3bbb .emojiContainer__75abc > .emoji {
    height: var(--declutter-bar-height,31px);  
}
.topic_bf3bbb .anchor_edefb8 {
    display: inline-flex;
}
.topicClickTarget_bf3bbb {
    width: 100%;
}
.container__4f074,
.container__4f074 .input__4f074 {
    height: var(--declutter-bar-height,31px);
    line-height: var(--declutter-bar-height,31px);
}
.typeWindows_a934d8 {
    height: var(--declutter-bar-height,31px);
    box-sizing: border-box;
}
.upperContainer_fc4f {
    align-items: center;
}
.container__4f074,
.container__4f074 .input__4f074 {
    height: 28px;
    line-height: 28px;
}
.guilds_c48ade.hidden_ef3116 + .base_c48ade > .content_c48ade {
    width: 100vw;
}
.guilds_c48ade.hidden_ef3116 + .base_c48ade > .content_c48ade .chatContent_a7d72e {
    opacity: 0;
}
.title-dzyan3 {
    margin-left: 0;
}
.form_a7d72e,
.clipContainer__841c8 {
    margin-top: 0;
}
.scrollerSpacer__36d07 {
    height: 26px;
}
.notice__5fd4c {
    height: var(--declutter-bar-height,31px);
    -webkit-app-regin: no-drag;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    top: unset;
    box-shadow: none;
}
.notice__5fd4c:not(:first-of-type) {
    border-radius: 0;
}
.notice__5fd4c > :is(.premiumIcon__9671b,.button__33db6) {
    top: 0;
}
.notice__5fd4c > .closeButton__90904 {
    height: var(--declutter-bar-height,31px);
}
.layer_d4b6c5:not(.baseLayer_d4b6c5) {
    top: calc(var(--declutter-bar-height,31px) * -1) !important;
    padding-top: var(--declutter-bar-height,31px) !important;
}
