@import url("https://dablulite.github.io/css-snippets/DeclutterBar/import.css");
:root {
    --mactitlebar-button-width: 20px;
    --mactitlebar-button-height: 20px;
    --mactitlebar-button-border-radius: 50px;
    --mactitlebar-close-btn-back: #f25056;
    --mactitlebar-min-btn-back: #fac536;
    --mactitlebar-max-btn-back: #39ea49;
}
.container_fc4f04 {
    padding-left: 64px;
    padding-right: 0;
}
#app-mount .withFrame_a934d8 {
    margin-left: 0;
}
.chat_a7d72e:has(.newMessagesBar__0f481) .container_fc4f04 {
    padding-right: 46px !important;
}
.winButtonClose_a934d8 {
    order: 3;
    margin: auto 0;
}
.winButtonMinMax_a934d8 {
    order: 1;
    margin: auto 0;
}
.winButtonMinMax_a934d8:last-child {
    margin: auto 0;
}
.winButton_a934d8:hover {
    background-color: transparent !important;
}
.winButtonClose_a934d8 > svg {
    background: var(--mactitlebar-close-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonClose_a934d8 > svg > polygon {
    display: none !important;
}
.winButtonMinMax_a934d8 > svg {
    background: var(--mactitlebar-max-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonMinMax_a934d8:last-child > svg {
    background: var(--mactitlebar-min-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonMinMax_a934d8 > svg > rect {
    display: none !important;
}
.winButton_a934d8:hover {
    background-color: transparent;
}
.winButton_a934d8 {
    width: var(--mactitlebar-button-width) !important;
    height: var(--mactitlebar-button-height) !important;
}
.newMessagesBar__0f481 .barButtonAlt__0f481 {
    right: calc((-46px * 5.6));
}
.container__133bf .container_fc4f04,
.homeWrapper__0920e .container_fc4f04,
.shop-3sIaH8 .container_fc4f04 {
    left: 0;
}
.winButtonClose_a934d8 > svg:hover,
.winButtonMinMax_a934d8 > svg:hover {
    filter: brightness(.6);
}
