.container-1QtPKm .slider-HJFN2i > svg > path, .container-1QtPKm .slider-HJFN2i > rect {
    fill: white !important;
}
.container-1QtPKm .slider-HJFN2i {
    margin-top: -2px;
    margin-left: -4px;
}
.container-1QtPKm.checked-16gMAN .slider-HJFN2i {
    margin-left: 0;
}
.container-1QtPKm.checked-16gMAN .slider-HJFN2i > svg > path, .container-1QtPKm.checked-16gMAN .slider-HJFN2i > rect {
    fill: var(--brand-experiment-300) !important;
}
.container-1QtPKm:has(.slider-HJFN2i) {
    height: 14px;
    width: 28px !important;
}
.container-1QtPKm.checked-16gMAN:has(.slider-HJFN2i) {
    background-color: var(--brand-experiment) !important;
}
