@import url(//dablulite.github.io/css-snippets/NoLightInDark/import.css);
.footer-IubaaS {
  border-radius: 0 0 16px 16px;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .templatesList-uohY49 > .container-x8Y1ix {
  width: calc(50% - 4px);
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .templatesList-uohY49 > .container-x8Y1ix:first-child,
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .templatesList-uohY49 > .optionHeader-27AHfD {
  width: 100%;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .templatesList-uohY49 > .optionHeader-27AHfD {
  margin: 0;
  text-transform: capitalize;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125rem;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .templatesList-uohY49 {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 0;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .content-1OG56Q {
  padding: 20px 32px !important;
  overflow: hidden overlay !important;
  width: 100%;
  max-width: unset;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .templatesList-uohY49 + .footer-3ie9JP {
  flex-direction: row;
  gap: 8px;
  align-content: center;
  justify-content: center;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .templatesList-uohY49 + .footer-3ie9JP > .footerTitle-3Bslxi,
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .templatesList-uohY49 + .footer-3ie9JP > .button-ejjZWC {
  width: 100%;
  margin-bottom: 0;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .templatesList-uohY49 + .footer-3ie9JP > .button-ejjZWC {
  align-self: center;
}
.optionsList-dmHy1l > .container-x8Y1ix + .text-sm-normal-AEQz4v {
  text-align: left;
  padding-left: 5px;
}
.footer-IubaaS > .back-Uv5ziB {
  padding: 0;
  height: fit-content;
  max-height: unset;
  display: flex;
}
.footer-IubaaS > .button-ejjZWC,
.footer-IubaaS > .back-Uv5ziB > .link-290TKp {
  padding: 12px 20px;
  font-weight: 600;
  min-width: unset;
  min-height: unset;
  height: fit-content;
  width: fit-content !important;
  border-radius: 8px;
}
.footer-IubaaS > .lookBlank-FgPMy6,
.footer-IubaaS > .back-Uv5ziB > .link-290TKp,
.lookLink-13iF2K.colorPrimary-2-Lusz {
  background: var(--bg-overlay-3,var(--button-secondary-background));
  -webkit-transition: background .17s ease,color .17s ease;
  transition: background .17s ease,color .17s ease;
  color: var(--white-500) !important;
}
.footer-IubaaS > .back-Uv5ziB > .link-290TKp {
  text-decoration: none !important;
}
.footer-IubaaS > .lookBlank-FgPMy6:hover,
.footer-IubaaS > .back-Uv5ziB > .link-290TKp:hover {
  background: var(--bg-overlay-hover,var(--button-secondary-background-hover));
}
.footer-IubaaS > .lookBlank-FgPMy6:active,
.footer-IubaaS > .back-Uv5ziB > .link-290TKp:active {
  background: var(--bg-overlay-active,var(--button-secondary-background-active));
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .createGuild-2m1V10 {
  display: flex;
  flex-direction: row-reverse;
  gap: 32px;
  padding: 0 32px !important;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .createGuild-2m1V10 > .nameInput-ph8KMi {
  margin-top: 0;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .header-1ffhsl {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px 32px;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .header-1ffhsl > .title-1_TkpU {
  order: 1;
  width: calc(100% - 32px);
  text-align: left;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .close-A4ZfTI {
  position: static;
  order: 2;
  margin: 0 !important;
  max-width: 32px;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .header-1ffhsl > .tier2HeaderBackground-2XINxm {
  order: 3;
  width: calc(100% + 32px);
  margin-top: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25;
  text-align: left;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4,[class*="art"])) {
  overflow: hidden;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) {
  min-width: 500px;
  border-radius: 16px;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .close-A4ZfTI:has(+[class*="art"]) {
  position: absolute;
}
div[style*="position: absolute;"]:has(>.modalSize-3WSXDU) {
  position: static !important;
  transform: none !important;
  width: 100% !important;
}
div:has(>div[style*="position: absolute;"] >.modalSize-3WSXDU),
.modalSize-3WSXDU {
  width: 500px !important;
  height: fit-content !important;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) > .container-1Lk8p7,
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) > .container-1Lk8p7 > div,
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) > .container-1Lk8p7 > div > div {
  width: 100% !important;
}
.header-1ffhsl > .header-2hjw1J {
  margin-left: -12px;
  margin-right: -12px;
  margin-top: 0;
  width: calc(100% + 24px);
}
.body-2qXItL > div,
.body-2qXItL > div > div,
.body-2qXItL .sliderBody-1SR1Ot {
  width: 100% !important;
  max-width: unset;
}
.stepBody-3ZoVrh > div:has(>.planOptionClickableContainer-O-50CZ) {
  display: flex;
  gap: 8px;
}
.planOptionClickableContainer-O-50CZ {
  width: 100%;
  border-radius: 8px;
  -webkit-transition: .17s ease;
  transition: .17s ease;
}
.planOptionClickableContainer-O-50CZ .planOptionInterval-3QyrC0 {
  color: var(--header-primary);
}
.planOptionClickableContainer-O-50CZ:hover,
.lookLink-13iF2K.colorPrimary-2-Lusz:hover {
  background: var(--bg-overlay-hover,var(--button-secondary-background-hover));
}
.planOptionClickableContainer-O-50CZ:active,
.lookLink-13iF2K.colorPrimary-2-Lusz:active {
  background: var(--bg-overlay-active,var(--button-secondary-background-active));
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"] {
  background: var(--brand-experiment);
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"]:hover {
  background: var(--brand-experiment-560);
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"]:active {
  background: var(--brand-experiment-600);
}
.planOption-187LtR {
  flex-direction: column;
  gap: 8px;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .templatesList-uohY49 + .footer-3ie9JP > .footerTitle-3Bslxi {
  line-height: 1;
  font-weight: 700;
  font-size: 1.125rem;
}
.colorwaySelectorModal {
  max-width: 564px;
  width: 564px;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .content-1OG56Q:has(.colorwayCreationModal) {
  width: 100%;
}
.root-1CAIjD:not(:has(.imageWrapper-oMkQl4)) .content-1OG56Q .colorwayModalFooter {
  margin-left: -32px;
  margin-right: -32px;
}
.container-x8Y1ix {
  -webkit-transition: background .17s ease,color .17s ease;
  transition: background .17s ease,color .17s ease;
}
.container-x8Y1ix:hover {
  background: var(--bg-overlay-hover,var(--button-secondary-background-hover));
}
.container-x8Y1ix:active {
  background: var(--bg-overlay-active,var(--button-secondary-background-active));
}
.userProfileModalInner-3dx9L9::before {
  border-radius: 12px;
}
.roundedBanner-uNt2w- {
  border-radius: 12px 12px 0 0;
}
