.footer_e0b400 {
  border-radius: 0 0 16px 16px;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .templatesList-uohY49 > .container-x8Y1ix {
  width: calc(50% - 4px);
}
.root_a28985:not(:has(.imageWrapper__178ee)) .templatesList-uohY49 > .container-x8Y1ix:first-child,
.root_a28985:not(:has(.imageWrapper__178ee)) .templatesList-uohY49 > .optionHeader-27AHfD {
  width: 100%;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .templatesList-uohY49 > .optionHeader-27AHfD {
  margin: 0;
  text-transform: capitalize;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125rem;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .templatesList-uohY49 {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 0;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .content_b28aab {
  padding: 20px 32px !important;
  overflow: hidden overlay !important;
  width: 100%;
  max-width: unset;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .templatesList-uohY49 + .footer-3ie9JP {
  flex-direction: row;
  gap: 8px;
  align-content: center;
  justify-content: center;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .templatesList-uohY49 + .footer-3ie9JP >  :is(.button__581d0, .footerTitle-3Bslxi) {
  width: 100%;
  margin-bottom: 0;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .templatesList-uohY49 + .footer-3ie9JP > .button__581d0 {
  align-self: center;
}
.optionsList-dmHy1l > .container-x8Y1ix + .text-sm-normal__95a78 {
  text-align: left;
  padding-left: 5px;
}
.footer_e0b400 > .back-Uv5ziB {
  padding: 0;
  height: fit-content;
  max-height: unset;
  display: flex;
}
.footer_e0b400 > .button__581d0,
.footer_e0b400 > .back-Uv5ziB > .link-290TKp {
  padding: 12px 20px;
  font-weight: 600;
  min-width: unset;
  min-height: unset;
  height: fit-content;
  width: fit-content !important;
  border-radius: 8px;
}
.footer_e0b400 > .lookBlank_a5b4ca,
.footer_e0b400 > .back-Uv5ziB > .link-290TKp,
.lookLink_a2da25.colorPrimary_ebe632 {
  background: var(--bg-overlay-3,var(--button-secondary-background));
  -webkit-transition: background .17s ease,color .17s ease;
  transition: background .17s ease,color .17s ease;
  color: var(--white-500) !important;
}
.footer_e0b400 > .back-Uv5ziB > .link-290TKp {
  text-decoration: none !important;
}
.footer_e0b400 > .lookBlank_a5b4ca:hover,
.footer_e0b400 > .back-Uv5ziB > .link-290TKp:hover {
  background: var(--bg-overlay-hover,var(--button-secondary-background-hover));
}
.footer_e0b400 > .lookBlank_a5b4ca:active,
.footer_e0b400 > .back-Uv5ziB > .link-290TKp:active {
  background: var(--bg-overlay-active,var(--button-secondary-background-active));
}
.root_a28985:not(:has(.imageWrapper__178ee)) .createGuild-2m1V10 {
  display: flex;
  flex-direction: row-reverse;
  gap: 32px;
  padding: 0 32px !important;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .createGuild-2m1V10 > .nameInput-ph8KMi {
  margin-top: 0;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .header__5e5a6 {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px 32px;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .header__5e5a6 > .title-1_TkpU {
  order: 1;
  width: calc(100% - 32px);
  text-align: left;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .close__1080c {
  position: static;
  order: 2;
  margin: 0 !important;
  max-width: 32px;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .header__5e5a6 > .tier2HeaderBackground-2XINxm {
  order: 3;
  width: calc(100% + 32px);
  margin-top: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25;
  text-align: left;
}
.root_a28985:not(:has(.imageWrapper__178ee,[class*="art"])) {
  overflow: hidden;
}
.root_a28985:not(:has(.imageWrapper__178ee)) {
  min-width: 500px;
  border-radius: 16px;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .close__1080c:has(+[class*="art"]) {
  position: absolute;
}
div[style*="position: absolute;"]:has(>.modalSize-3WSXDU) {
  position: static !important;
  transform: none !important;
  width: 100% !important;
}
div:has(>div[style*="position: absolute;"] >.modalSize-3WSXDU),
.modalSize-3WSXDU {
  width: 500px !important;
  height: fit-content !important;
}
.root_a28985:not(:has(.imageWrapper__178ee)) > .container-1Lk8p7,
.root_a28985:not(:has(.imageWrapper__178ee)) > .container-1Lk8p7 > div,
.root_a28985:not(:has(.imageWrapper__178ee)) > .container-1Lk8p7 > div > div {
  width: 100% !important;
}
.header__5e5a6 > .header-2hjw1J {
  margin-left: -12px;
  margin-right: -12px;
  margin-top: 0;
  width: calc(100% + 24px);
}
.body__1451f > div,
.body__1451f > div > div,
.body__1451f .sliderBody__94955 {
  width: 100% !important;
  max-width: unset;
}
.stepBody-3ZoVrh > div:has(>.planOptionClickableContainer-O-50CZ) {
  display: flex;
  gap: 8px;
}
.planOptionClickableContainer-O-50CZ {
  width: 100%;
  border-radius: 8px;
  -webkit-transition: .17s ease;
  transition: .17s ease;
}
.planOptionClickableContainer-O-50CZ .planOptionInterval-3QyrC0 {
  color: var(--header-primary);
}
.planOptionClickableContainer-O-50CZ:hover,
.lookLink_a2da25.colorPrimary_ebe632:hover {
  background: var(--bg-overlay-hover,var(--button-secondary-background-hover));
}
.planOptionClickableContainer-O-50CZ:active,
.lookLink_a2da25.colorPrimary_ebe632:active {
  background: var(--bg-overlay-active,var(--button-secondary-background-active));
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"] {
  background: var(--brand-experiment);
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"]:hover {
  background: var(--brand-experiment-560);
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"]:active {
  background: var(--brand-experiment-600);
}
.planOption-187LtR {
  flex-direction: column;
  gap: 8px;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .templatesList-uohY49 + .footer-3ie9JP > .footerTitle-3Bslxi {
  line-height: 1;
  font-weight: 700;
  font-size: 1.125rem;
}
.colorwaySelectorModal {
  max-width: 564px;
  width: 564px;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .content_b28aab:has(.colorwayCreationModal) {
  width: 100%;
}
.root_a28985:not(:has(.imageWrapper__178ee)) .content_b28aab .colorwayModalFooter {
  margin-left: -32px;
  margin-right: -32px;
}
.container-x8Y1ix {
  -webkit-transition: background .17s ease,color .17s ease;
  transition: background .17s ease,color .17s ease;
}
.container-x8Y1ix:hover {
  background: var(--bg-overlay-hover,var(--button-secondary-background-hover));
}
.container-x8Y1ix:active {
  background: var(--bg-overlay-active,var(--button-secondary-background-active));
}
.userProfileModalInner__99b1e::before {
  border-radius: 12px;
}
.roundedBanner__16aa6 {
  border-radius: 12px 12px 0 0;
}
