@import url(//dablulite.github.io/css-snippets/NoLightInDark/import.css);
.templatesList-uohY49 > div ~ .container-x8Y1ix {
    width: calc(50% - 4px);
}
.templatesList-uohY49 > .container-x8Y1ix:first-child,
.templatesList-uohY49 > div {
    width: 100%;
}
.templatesList-uohY49 > div {
    margin: 0;
    text-transform: capitalize;
    line-height: 1;
    font-weight: 700;
    font-size: 1.125rem;
}
.templatesList-uohY49 {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 0;
}
.content-1OG56Q {
    padding: 20px 32px !important;
}
.templatesList-uohY49 + .footer-3ie9JP {
    flex-direction: row;
    gap: 8px;
    align-content: center;
    justify-content: center;
}
.templatesList-uohY49 + .footer-3ie9JP > * {
    width: 100%;
    margin-bottom: 0;
}
.templatesList-uohY49 + .footer-3ie9JP > button {
    align-self: center;
}
.optionsList-dmHy1l > .container-x8Y1ix + div {
    text-align: left;
    padding-left: 5px;
}
.footer-IubaaS > .back-Uv5ziB {
    padding: 0;
    height: fit-content;
    max-height: unset;
    display: flex;
}
.footer-IubaaS > button,
.footer-IubaaS > .back-Uv5ziB > a {
    padding: 12px 20px;
    font-weight: 600;
    min-width: unset;
    min-height: unset;
    height: fit-content;
    width: fit-content !important;
    border-radius: 8px;
}
.footer-IubaaS > .lookBlank-FgPMy6,
.footer-IubaaS > .back-Uv5ziB > a {
    background-color: var(--button-secondary-background);
    -webkit-transition: background-color .17s ease,color .17s ease;
    transition: background-color .17s ease,color .17s ease;
    color: var(--white-500);
}
.footer-IubaaS > .back-Uv5ziB > a {
    text-decoration: none !important;
}
.footer-IubaaS > .lookBlank-FgPMy6:hover,
.footer-IubaaS > .back-Uv5ziB > a:hover {
    background-color: var(--button-secondary-background-hover);
}
.footer-IubaaS > .lookBlank-FgPMy6:active,
.footer-IubaaS > .back-Uv5ziB > a:active {
    background-color: var(--button-secondary-background-active);
}
.createGuild-2m1V10 {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    padding: 0 24px;
    padding-right: 16px !important;
}
.createGuild-2m1V10 > form > .nameInput-ph8KMi {
    margin-top: 0;
}
.header-1ffhsl {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 32px;
}
.header-1ffhsl > h1 {
    order: 1;
    width: calc(100% - 32px);
    text-align: left;
    line-height: 1;
    font-weight: 700;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
}
.close-A4ZfTI {
    position: static;
    order: 2;
    margin: 0 !important;
    max-width: 32px;
}
.header-1ffhsl > div {
    order: 3;
    width: 100%;
    margin-top: 16px;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25;
    text-align: left;
}
.root-1CAIjD {
    min-width: 500px;
    border-radius: 16px;
    overflow: hidden;
}
.root-1CAIjD > .container-1Lk8p7,
.root-1CAIjD > .container-1Lk8p7 > div,
.root-1CAIjD > .container-1Lk8p7 > div > div {
    width: 100% !important;
}
.header-1ffhsl > .header-2hjw1J {
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 0;
    width: calc(100% + 24px);
}
.body-2qXItL > div,
.body-2qXItL > div > div,
.body-2qXItL > div > div > form {
    width: 100% !important;
    max-width: unset;
}
.stepBody-3ZoVrh > div:has(>.planOptionClickableContainer-O-50CZ) {
    display: flex;
    gap: 8px;
}
.planOptionClickableContainer-O-50CZ {
    width: 100%;
    border-radius: 8px;
    -webkit-transition: background-color .17s ease,color .17s ease;
    transition: background-color .17s ease,color .17s ease;
}
.planOptionClickableContainer-O-50CZ * {
    color: var(--white-500);
}
.planOptionClickableContainer-O-50CZ:hover {
    background-color: var(--button-secondary-background-hover);
}
.planOptionClickableContainer-O-50CZ:active {
    background-color: var(--button-secondary-background-active);
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"] {
    background-color: var(--brand-experiment);
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"]:hover {
    background-color: var(--brand-experiment-560);
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"]:active {
    background-color: var(--brand-experiment-600);
}
.planOption-187LtR {
    flex-direction: column;
    gap: 8px;
}
.templatesList-uohY49 + .footer-3ie9JP > h2 {
    line-height: 1;
    font-weight: 700;
    font-size: 1.125rem;
}
