:root {
  --clyde-nickname: "Clyde";
}
.contents_f41bb2:has(img[src="/assets/cb1043c312ec65507573c06c37f6ee63.gif"]) .headerText_f47574 .username_d30d99,
.contents_f41bb2:has(img[src="/assets/6024f311af925206143919b880e34a30.png"]) .headerText_f47574 .username_d30d99 {
  font-size: 0;
  height: fit-content;
  display: flex;
  width: fit-content;
  float: left;
}
.contents_f41bb2:has(img[src="/assets/cb1043c312ec65507573c06c37f6ee63.gif"]) .headerText_f47574 .username_d30d99::before,
.contents_f41bb2:has(img[src="/assets/6024f311af925206143919b880e34a30.png"]) .headerText_f47574 .username_d30d99::before {
  content: var(--clyde-nickname);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: var(--header-primary);
  display: inline;
  vertical-align: baseline;
  position: relative;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.userPopoutInner_f545a3:has(img[src="/assets/cb1043c312ec65507573c06c37f6ee63.gif"]) .userText__3e8b7 h1,
.link__2e8e1:has(img[src="/assets/6024f311af925206143919b880e34a30.png"]) .name__02dbd .overflow__87fe8,
.userProfileModalInner__7c87d:has(img[src="/assets/cb1043c312ec65507573c06c37f6ee63.gif"]) .container-3g15px > div > .defaultColor__77578 {
  display: none;
}
.userPopoutInner_f545a3:has(img[src="/assets/cb1043c312ec65507573c06c37f6ee63.gif"]) .userText__3e8b7::before {
  content: var(--clyde-nickname);
  font-family: var(--font-display);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: var(--header-primary);
  display: block;
}
.link__2e8e1:has(img[src="/assets/6024f311af925206143919b880e34a30.png"]) .name__02dbd::before {
  content: var(--clyde-nickname);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
.userProfileModalInner__7c87d:has(img[src="/assets/cb1043c312ec65507573c06c37f6ee63.gif"]) .container-3g15px > div::before {
  content: var(--clyde-nickname);
  margin-right: 12px;
  scrollbar-color: var(--profile-body-divider-color) var(--scrollbar-thin-track);
  font-family: var(--font-primary);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: var(--text-normal);
  display: block;
}
