:root {
    --mactitlebar-left-margin: 5px;
    --mactitlebar-top-margin: 10px;
    --mactitlebar-button-width: 20px;
    --mactitlebar-button-height: 20px;
    --mactitlebar-button-border-radius: 50px;
    --mactitlebar-close-btn-back: #f25056;
    --mactitlebar-min-btn-back: #fac536;
    --mactitlebar-max-btn-back: #39ea49;
    --macbuttons-serverlist-inner-top-margin: 32px;
}
.winButtonClose_a934d8 {
    order: 3;
    margin-left: var(--mactitlebar-left-margin);
}
.winButtonMinMax_a934d8 {
    order: 1;
}
.winButtonClose_a934d8 > svg {
    background-color: var(--mactitlebar-close-btn-back) !important;
}
.winButtonMinMax_a934d8 > svg {
    background-color: var(--mactitlebar-max-btn-back) !important;
}
.winButtonMinMax_a934d8:last-child > svg {
    background-color: var(--mactitlebar-min-btn-back) !important;
}
.winButton_a934d8 > svg {
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButton_a934d8 > svg:hover {
    filter: brightness(.7);
}
.winButton_a934d8 > svg > :is(polygon, rect),
.wordmarkWindows_a934d8,
.withFrame_a934d8:before,
.withFrame_a934d8:after {
    display: none !important;
}
.winButton_a934d8 {
    width: var(--mactitlebar-button-width) !important;
    height: var(--mactitlebar-button-height) !important;
    margin-top: var(--mactitlebar-top-margin);
    background-color: transparent !important;
}
.guilds_c48ade {
    padding-top: var(--macbuttons-serverlist-inner-top-margin);
    height: calc(100vh - var(--macbuttons-serverlist-inner-top-margin));
}
.typeWindows_a934d8 {
    margin-top: 0;
    position: absolute;
    background-color: transparent;
}
.layer_d4b6c5 :not(.baseLayer_d4b6c5),
.platform-win .container_fc4f04 :is(.toolbar_fc4f04, .children_fc4f04 > .titleWrapper_fc4f04:not(:last-of-type), .topic_bf3bbb) {
    -webkit-app-region: no-drag;
}
.platform-win .sidebar_c48ade {
    border-radius: 0;
}
.layer_d4b6c5 :not(.baseLayer_d4b6c5)::before,
.platform-win .container_fc4f04 {
    -webkit-app-region: drag;
}
.layer_d4b6c5 :not(.baseLayer_d4b6c5)::before {
    content: "";
    position: absolute;
    height: calc(var(--mactitlebar-top-margin) + var(--mactitlebar-button-height));
    width: calc(100vw - (var(--mactitlebar-button-width) * 3) - var(--mactitlebar-left-margin));
    top: 0;
    right: 0;
}
.platform-win .layer_d4b6c5 ,
.platform-win .standardSidebarView__23e6b {
    padding-top: 0;
    top: 0;
}
