:root {
    --mactitlebar-left-margin: 5px;
    --mactitlebar-top-margin: 10px;
    --mactitlebar-button-width: 20px;
    --mactitlebar-button-height: 20px;
    --mactitlebar-button-border-radius: 50px;
    --mactitlebar-close-btn-back: #f25056;
    --mactitlebar-min-btn-back: #fac536;
    --mactitlebar-max-btn-back: #39ea49;
    --macbuttons-serverlist-inner-top-margin: 32px;
}
.winButtonClose__73489 {
    order: 3;
    margin-left: var(--mactitlebar-left-margin);
}
.winButtonMinMax__72f36 {
    order: 1;
}
.winButtonClose__73489 > svg {
    background-color: var(--mactitlebar-close-btn-back) !important;
}
.winButtonMinMax__72f36 > svg {
    background-color: var(--mactitlebar-max-btn-back) !important;
}
.winButtonMinMax__72f36:last-child > svg {
    background-color: var(--mactitlebar-min-btn-back) !important;
}
.winButton__88672 > svg {
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButton__88672 > svg:hover {
    filter: brightness(.7);
}
.winButton__88672 > svg > :is(polygon, rect),
.wordmarkWindows__05c46,
.withFrame__485f4:before,
.withFrame__485f4:after {
    display: none !important;
}
.winButton__88672 {
    width: var(--mactitlebar-button-width) !important;
    height: var(--mactitlebar-button-height) !important;
    margin-top: var(--mactitlebar-top-margin);
    background-color: transparent !important;
}
.guilds__2b93a {
    padding-top: var(--macbuttons-serverlist-inner-top-margin);
    height: calc(100vh - var(--macbuttons-serverlist-inner-top-margin));
}
.typeWindows__5fa63 {
    margin-top: 0;
    position: absolute;
    background-color: transparent;
}
.layer__2efaa :not(.baseLayer__8fda3),
.platform-win .container__11d72 :is(.toolbar__88c63, .children__32014 > .titleWrapper__482dc:not(:last-of-type), .topic__16ae3) {
    -webkit-app-region: no-drag;
}
.platform-win .sidebar_ded4b5 {
    border-radius: 0;
}
.layer__2efaa :not(.baseLayer__8fda3)::before,
.platform-win .container__11d72 {
    -webkit-app-region: drag;
}
.layer__2efaa :not(.baseLayer__8fda3)::before {
    content: "";
    position: absolute;
    height: calc(var(--mactitlebar-top-margin) + var(--mactitlebar-button-height));
    width: calc(100vw - (var(--mactitlebar-button-width) * 3) - var(--mactitlebar-left-margin));
    top: 0;
    right: 0;
}
.platform-win .layer__2efaa ,
.platform-win .standardSidebarView__1129a {
    padding-top: 0;
    top: 0;
}
