.layer_c9e2da:has(.quickswitcher_f4e139) {
    justify-content: start;
}
.quickswitcher_f4e139 {
    background: none;
    padding: 0;
}
.quickswitcher_f4e139 .scroller_f4e139 {
    margin: 0;
    border-radius: 0 0 8px 8px;
    scrollbar-width: none;
    padding: 8px !important;
}
.quickswitcher_f4e139 .input_f4e139 {
    height: 50px;
}
.quickswitcher_f4e139 .input_f4e139[value=""] {
    border-radius: 8px;
}
.quickswitcher_f4e139 .input_f4e139:not([value=""]) {
    border-radius: 8px 8px 0 0;
}
.quickswitcher_f4e139 .input_f4e139[value=""] + .scroller_f4e139,
.quickswitcher_f4e139 .protip_f4e139 {
    display: none;
}
.backdrop__1a911:has(+ .layer_c9e2da .quickswitcher_f4e139) {
    opacity: 0;
}
