.guilds__2b93a {
    margin-bottom: 227px;
    box-sizing: border-box;
}
.container_ca50b9 {
    position: absolute;
    bottom: 0;
    left: -72px;
    background: none !important;
    height: 227px;
    width: 72px;
    flex-direction: column;
    padding: 0;
    gap: 7px;
    padding-top: 7px;
    box-sizing: border-box;
    margin-bottom: 0;
}
.container_ca50b9 > .flex_f5fbb7 {
    flex-direction: column;
}
.sidebar_ded4b5,
.base__3e6af,
.panels__58331 {
    overflow: visible !important;
}
.base__3e6af {
    width: calc(100% - 72px);
}
.container_ca50b9 .avatarWrapper_ba5175 {
  height: 48px;
  padding: 0;
  width: 48px;
  min-width: unset;
  margin-right: 0;
  background: none !important;
}
.container_ca50b9 .avatarWrapper_ba5175 .svg_f5b652 .avatar__991e2 {
  border-radius: 50%;
  transition: .2s !important;
}
.container_ca50b9 .avatarWrapper_ba5175:hover .svg_f5b652 .avatar__991e2 {
  border-radius: 10px !important;
}
.container_ca50b9 .avatarWrapper_ba5175 .nameTag__0e320 {
  display: none;
}
.container_ca50b9 .avatarWrapper_ba5175 .avatar_f8541f {
  width: 48px !important;
  height: 48px !important;
}
.container_ca50b9 .svg_f5b652 {
  width: 60px !important;
  height: 60px !important;
}
.container_ca50b9 .svg_f5b652 > :is(svg,.pointerEvents__33f6a) {
  display: none;
}
.container_ca50b9 .svg_f5b652,
.container_ca50b9 .svg_f5b652 > foreignObject {
  mask: none !important;
}
.container_ca50b9 .button_afdfd9 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: .2s;
  --bg-over: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--bg-over,var(--background-primary));
}
.container_ca50b9 .button_afdfd9:hover {
  border-radius: 16px;
  background-color: var(--brand-experiment);
  color: var(--interactive-active);
}
.container_ca50b9 > .flex_f5fbb7 {
  gap: 7px;
}
.container__590e2,
.privateChannels__93473 {
    border-top-left-radius: 8px;
    overflow: hidden;
}
.container_ca50b9:has(.flex_f5fbb7 .button_afdfd9:nth-of-type(4)) {
    height: calc(227px + 56px) !important;
}
.guilds__2b93a:has(~ .base__3e6af .container_ca50b9 .flex_f5fbb7 .button_afdfd9:nth-of-type(4)) {
    margin-bottom: calc(227px + 56px) !important;
}
