.guilds_c48ade {
  margin-bottom: 227px;
  box-sizing: border-box;
}
.container__37e49 {
  position: fixed;
  bottom: 0;
  left: 0;
  background: none !important;
  height: 227px;
  width: 72px;
  flex-direction: column;
  padding: 0;
  gap: 7px;
  padding-top: 7px;
  box-sizing: border-box;
  margin-bottom: 0;
}
.container__37e49 > .flex__7c0ba {
  flex-direction: column;
}
.sidebar_c48ade,
.base_c48ade,
.panels_c48ade {
  overflow: visible !important;
}
.base_c48ade {
  width: calc(100% - 72px);
}
.container__37e49 .avatarWrapper__37e49 {
height: 48px;
padding: 0;
width: 48px;
min-width: unset !important;
margin-right: 0;
background: none !important;
}
.container__37e49 .avatarWrapper__37e49 .svg__44b0c .avatar__44b0c {
border-radius: 50%;
transition: .2s !important;
}
.container__37e49 .avatarWrapper__37e49:hover .svg__44b0c .avatar__44b0c {
border-radius: 10px !important;
}
.container__37e49 .avatarWrapper__37e49 .nameTag__37e49 {
display: none;
}
.container__37e49 .avatarWrapper__37e49 .avatar__37e49 {
width: 48px !important;
height: 48px !important;
}
.container__37e49 .svg__44b0c {
width: 60px !important;
height: 60px !important;
}
.container__37e49 .avatarWrapper__37e49 .avatarStack__44b0c::after {
  content: "";
  position: absolute;
  bottom: -4.5px;
  right: -4.5px;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background-color: var(--background-tertiary) !important;
}
.container__37e49 .svg__44b0c,
.container__37e49 .svg__44b0c > foreignObject {
mask: none !important;
}
.container__37e49 .button__201d5 {
width: 48px;
height: 48px;
border-radius: 50%;
transition: .2s;
--bg-over: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
background: var(--bg-over,var(--background-primary));
}
.container__37e49 .button__201d5:hover {
border-radius: 16px;
background-color: var(--brand-experiment);
color: var(--interactive-active);
}
.container__37e49 > .flex__7c0ba {
gap: 7px;
}
.container__2637a,
.privateChannels__35e86 {
  border-top-left-radius: 8px;
  overflow: hidden;
}
.container__37e49:has(.flex__7c0ba .button__201d5:nth-of-type(4)) {
  height: calc(227px + 56px) !important;
}
.guilds_c48ade:has(~ .base_c48ade .container__37e49 .flex__7c0ba .button__201d5:nth-of-type(4)) {
  margin-bottom: calc(227px + 56px) !important;
}
.accountProfilePopoutWrapper__37e49 {
  left: 0;
}
.avatarDecoration__44b0c {
  width: 66.4px;
  height: 58.4px;
}
