.chat__52833,
.container_def45c,
.container__5c7e7,
.applicationStore_fc7d76,
.containerSidenav__2623a {
  padding-bottom: 72px;
}
.container__037ed {
  display: block;
  height: 100%;
}
.guilds__2b93a {
  position: absolute;
  z-index: +1;
  height: 72px;
  width: calc(100vw - 240px);
  bottom: 0;
  right: 0;
}
.base__3e6af {
  height: 100%;
}
.tutorialContainer__890ea {
  display: flex;
  width: fit-content;
}
.guilds__2b93a .scroller__3d071 {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto hidden !important;
  align-items: center;
  padding-right: 10px;
  padding-top: 0;
}
.guilds__2b93a .scroller__3d071::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.listItem_fa7b36 {
  width: 48px;
  height: 48px;
  margin-bottom: 0;
}
.listItem_fa7b36 + [aria-label] {
  display: flex;
}
.expandedFolderBackground__1bec6 {
  width: calc(100% - 7px);
  height: 48px;
  top: 0;
  left: 7px;
}
.listItem_fa7b36 {
  flex-direction: column;
  margin-left: 7px;
}
.listItem_fa7b36 + [style]:not(ul) {
  height: 48px !important;
  width: 48px !important;
  display: flex !important;
}
[id*="folder-items-"],
.wrapper_ed1dea {
  width: fit-content !important;
  height: 48px !important;
  display: flex;
  align-items: center;
}
.wrapper__3670f,
.colorwaysBtnPill {
  top: unset;
  bottom: -12px;
  width: 48px !important;
  height: 8px !important;
  z-index: +1;
}
.wrapper__3670f > .item_f9d377,
.colorwaysBtnPill > .item_f9d377 {
  rotate: -90deg;
  margin-left: 20px;
  margin-top: 8px;
}
.guildSeparator_dcb3cc {
  width: 2px;
  height: 32px;
}
.listItem_fa7b36:has(.guildSeparator_dcb3cc) {
  width: 2px;
  margin: 0 7px;
}
.container_ca50b9 {
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
  height: 72px;
  margin-bottom: 0;
}
.sidebar_ded4b5 {
  border-radius: 0 !important;
}
.pill__13f64 {
  top: unset;
  bottom: 0;
}
.platform-osx .guilds__2b93a.wrapper_a7e7a8 {
  margin-top: 0;
}
.platform-osx .header__104ca {
  padding-left: 84px;
  height: fit-content;
}
.platform-osx .header__104ca .name_c08dbc {
  overflow: visible;
  white-space: pre-wrap;
}
.platform-osx .header__104ca .headerContent_ee8727 {
  height: fit-content;
}
.listItem_fa7b36:has(.guildSeparator_dcb3cc) {
  margin-right: 0;
}
