.chat_a7d72e,
.container__01ae2,
.container__133bf,
.applicationStore_f07d62,
.containerSidenav_dc2e0e {
  padding-top: 72px;
}
.container_c48ade {
  display: block;
  height: 100%;
}
.guilds_c48ade {
  position: absolute;
  z-index: +1;
  height: 72px;
  width: calc(100vw - 240px);
  top: 0;
  right: 0;
}
.base_c48ade {
  height: 100%;
}
.tutorialContainer__1f388 {
  display: flex;
  width: fit-content;
}
.guilds_c48ade .scroller_ef3116 {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto hidden !important;
  align-items: center;
  padding-right: 10px;
  padding-top: 0;
}
.guilds_c48ade .scroller_ef3116::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.listItem__650eb {
  width: 48px;
  height: 48px;
  margin-bottom: 0;
}
.listItem__650eb + [aria-label] {
  display: flex;
}
.expandedFolderBackground__48112 {
  width: calc(100% - 7px);
  height: 48px;
  top: 0;
  left: 7px;
}
.listItem__650eb {
  flex-direction: column;
  margin-left: 7px;
}
.listItem__650eb + [style]:not(ul) {
  height: 48px !important;
  width: 48px !important;
  display: flex !important;
}
[id*="folder-items-"],
.wrapper__48112 {
  width: fit-content !important;
  height: 48px !important;
  display: flex;
  align-items: center;
}
.wrapper__58105,
.colorwaysBtnPill {
  top: unset;
  bottom: -12px;
  width: 48px !important;
  height: 8px !important;
  z-index: +1;
}
.wrapper__58105 > .item__58105,
.colorwaysBtnPill > .item__58105 {
  rotate: -90deg;
  margin-left: 20px;
  margin-top: 8px;
}
.guildSeparator__252b6 {
  width: 2px;
  height: 32px;
}
.listItem__650eb:has(.guildSeparator__252b6) {
  width: 2px;
  margin: 0 7px;
}
.container__37e49 {
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
  height: 72px;
  margin-bottom: 0;
}
.sidebar_c48ade {
  border-radius: 0 !important;
}
.panels_c48ade {
  order: -1;
  display: flex;
  flex-direction: column-reverse;
}
.platform-osx .guilds_c48ade.wrapper_ef3116 {
  margin-top: 0;
}
.pill__5bc7e {
  top: unset;
  bottom: 0;
}
.platform-osx .container__37e49 {
  height: 48px;
  padding-top: 24px;
}
.listItem__650eb:has(.guildSeparator__252b6) {
  margin-right: 0;
}
