@import url(//dablulite.github.io/css-snippets/HorizontalServerList/import.css);
.container-YkUktl .avatarWrapper-1B9FTW {
  height: 48px;
  padding: 0;
  width: 48px;
  min-width: unset;
  margin-right: 0;
  background: none !important;
}
.container-YkUktl .avatarWrapper-1B9FTW .svg-1G_H_8 .avatar-31d8He {
  border-radius: 50%;
  transition: .2s !important;
}
.container-YkUktl .avatarWrapper-1B9FTW:hover .svg-1G_H_8 .avatar-31d8He {
  border-radius: 10px !important;
}
.container-YkUktl .avatarWrapper-1B9FTW .nameTag-sc-gpq {
  display: none;
}
.container-YkUktl .avatarWrapper-1B9FTW .avatar-1EWyVD {
  width: 48px !important;
  height: 48px !important;
}
.container-YkUktl .svg-1G_H_8 {
  width: 60px !important;
  height: 60px !important;
}
.container-YkUktl .svg-1G_H_8 > :is(svg,.pointerEvents-2KjWnj) {
  display: none;
}
.container-YkUktl .svg-1G_H_8,
.container-YkUktl .svg-1G_H_8 > foreignObject {
  mask: none !important;
}
.container-YkUktl {
  width: fit-content;
  padding-right: 7px;
  min-width: unset;
  gap: 7px;
}
.guilds-2JjMmN {
  width: calc(100vw - 228px);
  z-index: +2;
}
.container-YkUktl .button-ejjZWC {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: .2s;
  background-color: var(--background-primary);
}
.container-YkUktl .button-ejjZWC:hover {
  border-radius: 16px;
  background-color: var(--brand-experiment);
  color: var(--interactive-active);
}
.container-YkUktl > .flex-2S1XBF {
  gap: 7px;
}
.container-YkUktl::after {
  content: "";
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: var(--background-modifier-accent);
}
.panels-3wFtMD,
.sidebar-1tnWFu {
  overflow: visible;
}
.container-1eFtFS:has(.panels-3wFtMD .container-YkUktl .button-ejjZWC path[d="M182 856q-51 0-79-35.5T82 734l42-300q9-60 53.5-99T282 296h396q60 0 104.5 39t53.5 99l42 300q7 51-21 86.5T778 856q-21 0-39-7.5T706 826l-90-90H344l-90 90q-15 15-33 22.5t-39 7.5Zm498-240q17 0 28.5-11.5T720 576q0-17-11.5-28.5T680 536q-17 0-28.5 11.5T640 576q0 17 11.5 28.5T680 616Zm-80-120q17 0 28.5-11.5T640 456q0-17-11.5-28.5T600 416q-17 0-28.5 11.5T560 456q0 17 11.5 28.5T600 496ZM310 616h60v-70h70v-60h-70v-70h-60v70h-70v60h70v70Z"]) .guilds-2JjMmN {
  width: calc(100vw - 228px - 7px - 48px);
}
.chat-2ZfjoI, .container-3XgAHv, .container-2cd8Mz, .applicationStore-2nk7Lo, .containerSidenav-3qiKqP {
    padding-top: 0;
    margin-top: 0;
}
