@import url(//dablulite.github.io/css-snippets/HorizontalServerList/import.css);
.container_debb33 .avatarWrapper__500a6 {
  height: 48px;
  padding: 0;
  width: 48px;
  min-width: unset;
  margin-right: 0;
  background: none !important;
}
.container_debb33 .avatarWrapper__500a6 .svg_a6bf1c .avatar__991e2 {
  border-radius: 50%;
  transition: .2s !important;
}
.container_debb33 .avatarWrapper__500a6:hover .svg_a6bf1c .avatar__991e2 {
  border-radius: 10px !important;
}
.container_debb33 .avatarWrapper__500a6 .nameTag__77ab2 {
  display: none;
}
.container_debb33 .avatarWrapper__500a6 .avatar_f8541f {
  width: 48px !important;
  height: 48px !important;
}
.container_debb33 .svg_a6bf1c {
  width: 60px !important;
  height: 60px !important;
}
.container_debb33 .svg_a6bf1c > :is(svg,.pointerEvents__585e6) {
  display: none;
}
.container_debb33 .svg_a6bf1c,
.container_debb33 .svg_a6bf1c > foreignObject {
  mask: none !important;
}
.container_debb33 {
  width: fit-content;
  padding-right: 7px;
  min-width: unset;
  gap: 7px;
}
.guilds__2b93a {
  width: calc(100vw - 228px);
  z-index: +2;
}
.container_debb33 .button__581d0 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: .2s;
  background-color: var(--background-primary);
}
.container_debb33 .button__581d0:hover {
  border-radius: 16px;
  background-color: var(--brand-experiment);
  color: var(--interactive-active);
}
.container_debb33 > .flex_f18b02 {
  gap: 7px;
}
.container_debb33::after {
  content: "";
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: var(--background-modifier-accent);
}
.panels__58331,
.sidebar_e031be {
  overflow: visible;
}
.container_d1f8f5:has(.panels__58331 .container_debb33 .button__581d0 path[d="M182 856q-51 0-79-35.5T82 734l42-300q9-60 53.5-99T282 296h396q60 0 104.5 39t53.5 99l42 300q7 51-21 86.5T778 856q-21 0-39-7.5T706 826l-90-90H344l-90 90q-15 15-33 22.5t-39 7.5Zm498-240q17 0 28.5-11.5T720 576q0-17-11.5-28.5T680 536q-17 0-28.5 11.5T640 576q0 17 11.5 28.5T680 616Zm-80-120q17 0 28.5-11.5T640 456q0-17-11.5-28.5T600 416q-17 0-28.5 11.5T560 456q0 17 11.5 28.5T600 496ZM310 616h60v-70h70v-60h-70v-70h-60v70h-70v60h70v70Z"]) .guilds__2b93a {
  width: calc(100vw - 228px - 7px - 48px);
}
.chat__52833, .container__694a1, .container_bd15da, .applicationStore__444b9, .containerSidenav_c2b517 {
    padding-top: 0;
    margin-top: 0;
}
.container_debb33:has(.flex_f18b02 .button__581d0:nth-of-type(4)) {
    width: calc(227px + 56px) !important;
}
.guilds__2b93a:has(~ .base_c0676e .container_debb33 .flex_f18b02 .button__581d0:nth-of-type(4)) {
    width: calc(100vw - 228px - 56px) !important;
}
.sidebar_e031be {
    overflow: visible !important;
}
.ColorwaySelectorBtnContainer {
    margin-bottom: 0;
    width: 56px !important;
    flex: 0 0 56px;
    justify-content: end;
}
