@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.container_debb33 > .flex_f18b02 > button {
    background: transparent;
}
.panels__58331 .avatar_f8541f {
    margin-top: 0;
    transform: none;
    border-color: var(--background-floating);
}
.children_cde9af:after {
    content: none;
}
.layer__6b5c3:has(.menu__088f7) {
    max-width: unset !important;
    right: unset !important;
    top: unset !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
}
.menu__088f7:not(#account) {
    width: 100% !important;
    max-width: unset !important;
    border-radius: 24px 24px 0 0;
    background-color: var(--background-primary);
    padding-bottom: 20px;  
}
.menu__088f7:not(#account) > div {
    margin-bottom: -20px;
    animation: animateMenu .4s ease;
    padding: 0;
}
@keyframes animateMenu {
    0% {
        margin-bottom: -80%;
    }
    70% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: -20px;
    }
}
.layerContainer_a2fcaa {
    transition: background .2s ease;
}
.layerContainer_a2fcaa:not(:empty):has( .menu__088f7, .userPopoutInner_e90432) {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.notAppAsidePanel__95814:has(.layerContainer_a2fcaa:not(:empty) .menu__088f7, .userPopoutInner_e90432) .container_d1f8f5 {
    pointer-events: none;
}
.menu__088f7:not(#account) .labelContainer__4f869 {
    margin: 0;
    border-radius: 0 !important;
    padding: 16px;
}
.form_d8a4a1 {
  margin-top: 0;
  padding: 10px;
  border-top: 1px solid var(--primary-560);
}
.channelTextArea_c2094b {
    margin-bottom: 0;
}
.scrollableContainer_ff917f,
.channelTextArea_c2094b {
    background: none;
}
.channelTextArea_c2094b .inner__9fd0b {
    padding: 0;
    width: 100%;
    gap: 8px;
}
.channelTextArea_c2094b .inner__9fd0b > textarea,
.channelTextArea_c2094b .inner__9fd0b .attachButton__5f6dc,
.channelTextArea_c2094b .inner__9fd0b > .buttons__7ecff > * {
    background-color: var(--background-tertiary);
}
.channelTextArea_c2094b .inner__9fd0b > .buttons__7ecff > * {
    width: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.channelTextArea_c2094b .inner__9fd0b > .buttons__7ecff {
    gap: 8px;
}
.channelTextArea_c2094b .inner__9fd0b > .buttons__7ecff .innerButton__9efb8 {
    margin: 0;
}
.channelTextArea_c2094b .inner__9fd0b > textarea {
    border-radius: 25px;
    padding: 10px;
}
.channelTextArea_c2094b .inner__9fd0b .attachButton__5f6dc {
    margin-left: 0;
    padding: 10px;
    border-radius: 50%;
}
.channelTextArea_c2094b > .scrollableContainer_ff917f {
    padding-right: 0;
    width: 100%;
    overflow-y: overlay !important;
}
.base__06abc {
    position: static;
    padding-top: 8px;
}
.separator__666aa {
    margin: 0;
}
.separator__666aa::before {
    content: none;
}
.webkit__8d35a .buttons__7ecff {
    margin-right: 0;
}
.divider__855e3 {
    display: none;
}
.hamburger__65d86 {
    margin-right: 0;
}
.buttons__36852 .wrapper__4e6b6 {
    width: 100%;
    max-width: unset;
    justify-content: space-between;
    background-color: var(--background-secondary);
    box-shadow: var(--elevation-stroke),var(--elevation-medium);
    border-radius: 8px;
}
.buttons__36852 {
    padding: 0 !important;
}
.buttonContainer__6de7e {
    display: none;
}
.message_ccca67.selected_e3bc5d .buttonContainer__6de7e,
.message_ccca67:hover .buttonContainer__6de7e,
.buttonContainer__6de7e:hover {
    display: block !important;
}
.wrapper__01a96 {
    padding: 6px;
    gap: 4px;
    box-sizing: border-box;
}
.wrapper__01a96 > .customItem__3f15f {
    display: contents;
}
.wrapper__01a96 .button_bfb8e1 {
    background-color: var(--background-primary);
    box-sizing: border-box;
    width: 50px;
    height: 50px;
}
.menu__088f7 > .scroller__8f066::-webkit-scrollbar {
    width: 0;
}
.menu__088f7:not(#account) {
    background-color: var(--background-tertiary);
}
.menu__088f7:not(#account) div[role="group"]:not(.wrapper__01a96) {
    margin: 0 24px;
    background-color: var(--background-primary);
    overflow: hidden;
}
.menu__088f7:not(#account) div[role="group"]:nth-child(2) {
    border-radius: 24px 24px 0 0;
}
.menu__088f7:not(#account) div[role="group"]:has(+ div[aria-hidden="true"]) {
    border-radius: 0 0 24px 24px;
    margin-bottom: 24px;
}
.menu__088f7:not(#account) div[role="separator"] {
    margin: 0 24px;
}
.icon_a88807 {
    width: 32px;
    height: 32px;
}
.toolbar__62fb5 > .iconWrapper_de6cd1 {
    background-color: var(--background-secondary);
    border-radius: 50px;
    padding: 5px;
    height: fit-content;
}
.container__26baa {
    padding: 5px 10px;
    height: fit-content;
    background: var(--bg-overlay-chat,var(--background-primary)) !important;
}
.divider_bdb894 {
    display: none;
}
.nameTag__77ab2 {
    display: none !important;
}
.avatarWrapper__500a6 {
    justify-content: center;
    width: calc(100vw/4) !important;
    background-color: transparent !important;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 53px;
}
.avatarWrapper__500a6::after {
    content: "You";
    color: var(--interactive-normal);
}
.container_debb33 .flex_f18b02 {
    padding: 0;
    height: 53px;
    width: 100%;
}
.container_debb33 .flex_f18b02 .button_ae40a4 {
    padding: 0;
    height: 53px;
    border-radius: 0;
    background-color: transparent !important;
    transition: 0;
    flex-direction: column;
    width: calc(100vw/4) !important;
}
.container_debb33 .flex_f18b02 .button_ae40a4 > .contents__322f4 {
    width: 32px;
    height: 32px;
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_debb33 .flex_f18b02 .button_ae40a4::after {
    content: "";
    color: var(--interactive-normal);
    line-height: 14px;
}
.container_debb33 .flex_f18b02 .button_ae40a4:nth-child(1)::after {
    content: "Mute";
}
.container_debb33 .flex_f18b02 .button_ae40a4:nth-child(2)::after {
    content: "Deafen";
}
.container_debb33 .flex_f18b02 .button_ae40a4:nth-child(3)::after {
    content: "Settings";
}
.panels__58331 .container_debb33 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--interactive-muted);
    animation: showBottomBar ease .3s;
    padding: 0;
    flex-direction: row-reverse;
    margin-bottom: 0;
}
@keyframes showBottomBar {
    from {
        bottom: -53px;
    }
    to {
        bottom: 0;
    }
}
.panels__58331 {
    padding-bottom: 53px;
}
#vc-spotify-player {
    border-bottom: none;
}
.guilds__2b93a .scroller_de945b {
    padding-bottom: 52px !important;
}
.wrapper__57349 {
    border-radius: 0;
    background-color: transparent;
    flex-direction: column;
    gap: 12px;
    height: fit-content;
    margin-bottom: 0;
    padding-top: 0;
}
.wrapper__57349 > .buttonContainer__1b685 {
    display: contents;
}
.wrapper__57349 > .buttonContainer__1b685 > .button__4306a {
    margin: 0;
    width: 100% !important;
    max-width: unset;
    border-radius: 25px;
    background-color: var(--brand-experiment);
}
.wrapper__57349 .image__7ea68 {
    display: none;
}
.wrapper__57349 > .content__98536 {
    margin: 0;
}
.dropdownButton_a246fc {
    margin-left: 0;
}
.headerChildren_e6a96f {
    background-color: var(--background-secondary);
    border-radius: 50px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name_e8e549 {
    background-color: var(--background-secondary);
    border-radius: 50px;
    padding: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    margin-right: auto;
}
.guildIconV2Container_ddc448 + .name_e8e549 {
    border-radius: 0 50px 50px 0;
}
.guildIconV2Container_ddc448 {
    background-color: var(--background-secondary);
    border-radius: 50px 0 0 50px;
    padding: 6px;
    margin-right: 0;
    align-self: stretch;
    display: flex;
    align-items: center;
}
.headerContent__6fcc7 {
    height: fit-content;
}
.guildIconV2Container_ddc448 > div[role="button"] {
    height: fit-content;
}
.layer__6b5c3:has(.emojiPicker__5e2e2) {
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important
}
.emojiPicker__5e2e2 {
    width: 100%;
}
.emojiListRow__6d732 {
    width: 432px;
    margin-left: auto;
    margin-right: auto;
}
.header_e5d8b2 {
    border-radius: 0;
    border-top: 1px solid var(--interactive-muted);
}
.interactiveSelected__689f0 {
    background-color: transparent;
}
.interactive__3e804,
.channel__0aef5 {
    width: 100%;
    max-width: unset;
}
.privateChannels__9b518 .scroller__89969::-webkit-scrollbar {
    width: 0;
}
.privateChannels__9b518 .channel__0aef5 {
    width: calc(100% - 8px) !important;
    margin: 0 4px;
}
.privateChannels__9b518 .interactive__3e804 {
    transition: .2s ease;
}
.privateChannels__9b518 .interactive__3e804:hover {
    background-color: var(--background-tertiary);
    border-radius: 16px;
}
.privateChannels__9b518 .svg_a6bf1c {
    width: 38px;
    height: 38px;
    position: static;
}
.privateChannels__9b518 .wrapper__3ed10,
.privateChannels__9b518 .avatar__7bd22 {
    width: unset !important;
    height: unset !important;
}
.privateChannels__9b518 .avatar__7bd22 {
    margin: 8px;
}
.privateChannels__9b518 .layout__59abc {
    height: 58px;
}
.privateChannels__9b518 .svg_a6bf1c:has(rect) {
    width: 44px;
    height: 44px;
    margin-top: 8px;
    margin-left: 2px;
}
.searchBar__621ec {
    box-shadow: none;
}
.searchBarComponent__8f95f {
    border-radius: 25px !important;
    padding: 6px 12px;
    height: fit-content !important;
}
.sidebarRegionScroller__8113e::-webkit-scrollbar {
    width: 0;
}
.mobileSidebar_a79405 {
    width: 100vw;
    padding: 0 16px;
    padding-top: 79px;
}
.mobileSidebar_a79405 .item__48dda {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    padding: 16px !important;
    background-color: var(--background-tertiary);
    border-bottom: 1px solid var(--background-secondary);
}
.mobileSidebar_a79405 .header__71a82 + .item__48dda,
.mobileSidebar_a79405 .separator_d14fb1 + .item__48dda {
    border-radius: 12px 12px 0 0 !important;
}
.mobileSidebar_a79405 .separator_d14fb1 + .item__48dda {
    margin-top: 8px;
}
.mobileSidebar_a79405 .item__48dda:has(+.separator_d14fb1) {
    border-radius: 0 0 12px 12px !important;
    border-bottom: none;
}
.mobileSidebar_a79405 .header__71a82 + .item__48dda:has(+.separator_d14fb1),
.mobileSidebar_a79405 .separator_d14fb1 + .item__48dda:has(+.separator_d14fb1) {
    border-radius: 12px !important;
    border-bottom: none;
}
.closeButton__8177f {
    border: none;
}
.mobileSidebarHeader__157ab,
.mobileContentHeader_fe5f86 {
    position: fixed;
    z-index: +1;
    width: 100vw;
    top: 0;
    left: 0;
    height: 55px;
    background-color: var(--background-secondary);
    border-bottom: 1px solid var(--interactive-muted);
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.mobileSidebarHeader__157ab::after,
.mobileContentHeader_fe5f86::after {
    content: "Settings";
    color: var(--header-primary);
    font-weight: bold;
    font-size: 18px;
}
.toolsContainer__4e6ad {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 0;
    height: 55px;
    justify-content: center;
    align-items: center;
}
.tools_c0ff70 {
    display: contents;
}
.separator_d14fb1 {
    display: none;
}
.header__71a82 {
    margin-top: 8px;
}
.container_debb33 > .flex_f18b02 {
    gap: 0;
}
.topic__16ae3 {
    font-size: 0;
    height: 34px;
    width: 34px;
    margin-left: auto;
    flex: unset;
}
.topicClickTarget_f06d56 {
    width: 34px;
    height: 34px;
    background-color: var(--background-secondary);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topicClickTarget_f06d56::after {
    content: "\F434";
    font-family: bootstrap-icons;
    font-size: 24px;
}
.topicClickTarget_f06d56:hover {
    color: var(--interactive-hover) !important;
}
.layer__6b5c3:has(.userPopoutOuter__3884e) {
    left: 0 !important;
    bottom: 0 !important;
    right: unset !important;
    top: unset !important;
}
.accountProfilePopoutWrapper_d4887f {
    left: unset;
}
.userPopoutOuter__3884e {
    width: 100vw;
    border-radius: 24px 24px 0 0;
}
.userProfileModalOverlayBackground__7ec35::before,
.overlayBackground__2666e::before {
    content: "";
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    border-radius: 8px;
    background: linear-gradient(to bottom, var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color)),var(--background-secondary-alt);
}
.userProfileModalOverlayBackground__7ec35::after,
.overlayBackground__2666e::after {
    content: "";
    width: calc(100%);
    height: calc(100%);
    position: absolute;
    z-index: 2;
    border-radius: 8px;
    background: var(--profile-gradient-overlay-color);
}
.userProfileModalOverlayBackground__7ec35,
.overlayBackground__2666e {
    overflow: visible;
}
.userProfileModalOverlayBackground__7ec35 .body-1Ukv50,
.overlayBackground__2666e > :is(.section__62b44,.scroller_f9a667) {
    z-index: 3;
    background-color: var(--profile-body-background-color);
}
.overlayBackground__2666e .divider_e6f9ab {
    display: none;
}
.overlayBackground__2666e .scroller_f9a667:not(:has(~#account)) {
    border-radius: 0 0 8px 8px;
}
.overlayBackground__2666e .usernameSection_dd6196 {
    border-radius: 8px 8px 0 0;
}
.userProfileOuter__4ac83 {
    padding: 0 !important;
}
.userProfileModalInner__99b1e:before,
.userPopoutInner_e90432:before {
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.avatarPositionPremiumBanner_f3acc4 {
    top: 72px;
}
.userPopoutOuter__3884e.userProfileOuterThemed__1fbd7 .avatarWrapper__0cd44 {
    left: 18px;
}
.divider__126d2 {
    display: none;
}
.body_bd4552 {
    z-index: +3;
}
#account {
    width: 100%;
    max-width: none;
}
#account > .scroller__8f066 {
    padding-right: 8px !important;
}
#account .submenu_aed9ee {
    border-radius: 24px 24px 0 0;
    overflow: hidden;
}
#account .layer__6b5c3 {
    z-index: +1;
}
.bannerSVGWrapper__8a38c foreignObject {
    mask: none;
}
[class*="NonPremium"]:has([class*="bannerPremium"]) [class*="avatarPositionNormal"], [class*="PremiumWithoutBanner"]:has([class*="bannerPremium"]) [class*="avatarPositionPremiumNoBanner"] {
    top: 126px;
}
.userProfileInnerThemedNonPremium_ed9022 .avatarWrapperNormal__36eec {
    background-color: var(--profile-gradient-primary-color);
    border: 8px solid var(--profile-gradient-primary-color);
}
.customizationSection__0f57e .userPopoutOuter__3884e {
    width: 100%;
}
.customizationSection__0f57e .overlayBackground__2666e::after {
    left: 0;
}
.customizationSection__0f57e .overlayBackground__2666e::before {
    width: calc(100% + 3px);
}
.customizationSection__0f57e .overlayBackground__2666e .divider_d6f39c {
    display: none;
}
.customizationSection__0f57e .overlayBackground__2666e .section__62b44 {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: -12px;
    margin-right: -12px;
}
.customizationSection__0f57e .overlayBackground__2666e .section__62b44:first-of-type {
    border-radius: 6px 6px 0 0;
}
.customizationSection__0f57e .overlayBackground__2666e .section__62b44:last-of-type {
    border-radius: 0 0 6px 6px;
}
