.userProfileModalOverlayBackground_c69a7b::before,
.overlayBackground_c69a7b::before {
    content: "";
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    border-radius: 8px;
    background: linear-gradient(to bottom, var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color)),var(--background-secondary-alt);
}
.userProfileModalOverlayBackground_c69a7b::after,
.overlayBackground_c69a7b::after {
    content: "";
    width: calc(100%);
    height: calc(100%);
    position: absolute;
    z-index: 2;
    border-radius: 8px;
    background: var(--profile-gradient-overlay-color);
}
.userProfileModalOverlayBackground_c69a7b,
.overlayBackground_c69a7b {
    overflow: visible;
}
.userProfileModalOverlayBackground_c69a7b .body-1Ukv50,
.overlayBackground_c69a7b > :is(.section_d7a21f,.scroller_d2b491,#account) {
    z-index: 3;
    background-color: var(--profile-body-background-color);
}
.overlayBackground_c69a7b .divider_e6f9ab {
    display: none;
}
.overlayBackground_c69a7b .scroller_d2b491:not(:has(~#account)),
.overlayBackground_c69a7b #account {
    border-radius: 0 0 8px 8px;
}
.overlayBackground_c69a7b .usernameSection_d2b491 {
    border-radius: 8px 8px 0 0;
}
.userProfileOuter_c69a7b {
    padding: 0 !important;
}
.userProfileModalInner_c69a7b:before,
.userPopoutInner_c69a7b:before {
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.avatarPositionPremiumBanner_f89da9 {
    top: 72px;
}
.userPopoutOuter_c69a7b.userProfileOuterThemed_c69a7b .avatarWrapper_f89da9 {
    left: 18px;
}
.divider_d2b491 {
    display: none;
}
.body_b9fccc {
    z-index: +3;
}
