.wrapper_fbbb73 {
  margin-bottom: 0;
  border-radius: 0;
  padding: 16.5px 0;
}
.form__13a2c {
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
.channelTextArea__2e60f {
  margin-bottom: 0;
  border-radius: 0;
}
.base__512ed {
  position: absolute;
  width: calc(100% - 16px);
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  box-sizing: border-box;
  top: -24px;
  left: 0;
  background: var(--bg-overlay-chat,var(--background-primary));
}
.base__512ed > .cooldownWrapper_de448f {
  margin: 0;
  position: static;
}
.scroller__1f96e {
  position: static;
}
.scrollableContainer__33e06 {
  border-radius: 0;
}
.scrollableContainer__33e06 > .inner__9fd0b {
  min-height: 53px;
  align-items: center;
}
.attachWrapper__6354f {
  display: flex;
  position: static;
  align-items: center;
}
.attachedBars_da3c74 {
  border-radius: 0;
}
