.panels_c48ade {
    order: -1;
}
.container__37e49 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 8px;
    gap: 12px;
    margin: 0;
    height: fit-content;
    padding-top: 12px;
}
.platform-win .container__37e49,
.platform-osx .container__37e49 {
    padding-top: 4px;
}
.container__37e49 .flex__7c0ba > .button__67645 {
    --nitro-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background: var(--nitro-overlay,var(--background-primary));
    transition: background-color .15s ease-out,color .15s ease-out, border-radius .2s ease;
}
.container__37e49 .avatarWrapper__37e49 {
    --nitro-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    width: 48px;
    height: 48px;
    min-width: unset;
    border-radius: 50px;
    background: var(--nitro-overlay,var(--background-primary));
    padding: 0;
    margin: 0;
    flex: 0 0 48px;
    transition: background-color .15s ease-out,color .15s ease-out, border-radius .2s ease;
    justify-content: center;
    cursor: pointer;
}
.container__37e49 .flex__7c0ba {
    justify-content: space-between;
    width: 100%;
    padding-right: 12px;
}
.container__37e49 .avatarWrapper__37e49 .nameTag__37e49 {
    display: none;
}
.container__37e49 .avatarWrapper__37e49:hover,
.container__37e49 .avatarWrapper__37e49[aria-expanded="true"],
.container__37e49 .flex__7c0ba > .button__67645:hover {
    background: var(--brand-500);
    border-radius: 16px;
}
.content_a7d72e,
.chatContent_a7d72e,
.container__2637a,
.container_f37cb1,
.header_f37cb1,
.animatedContainer_f37cb1,
.privateChannels__35e86 {
    border-top-left-radius: 8px;
}
.content_a7d72e:before {
    content: none;
}
.sidebar_c48ade {
    background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
}
.platform-win .chat_a7d72e,
.platform-osx .chat_a7d72e {
    border-top-left-radius: 8px;
}
.container_e131a9 {
    border-bottom: none;
    background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
    padding: 0;
    padding-bottom: 4px;
}
.actionButtons_e131a9 {
    display: flex;
    gap: 12px;
    padding-top: 0;
    padding-right: 12px;
}
.actionButtons_e131a9 .button_e131a9 {
    --nitro-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 50px;
    flex: 0 0 48px;
    background: var(--nitro-overlay,var(--background-primary));
    transition: background-color .15s ease-out,color .15s ease-out, border-radius .2s ease;
}
.actionButtons_e131a9 .button_e131a9:hover,
.actionButtons_e131a9 .button_e131a9[aria-expanded="true"] {
    background: var(--brand-500);
    border-radius: 16px;
}
.connection_e131a9 {
    padding: 8px;
    height: 60px;
    box-sizing: border-box;
}
.peopleColumn__133bf .inner__999f6 {
    height: 60px;
    padding: 0;
}
.nowPlayingColumn__133bf .scroller__7d20c {
    margin: 0;
    overflow: hidden overlay !important;
    padding-right: 16px !important;
    border: none;
}
.nowPlayingColumn__133bf .header__7d20c {
    margin: 0;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-top: -16px;
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
    box-sizing: border-box;
    background: var(--bg-overlay-4,var(--background-tertiary));
    position: fixed;
    z-index: +1;
}
.nowPlayingColumn__133bf .header__7d20c + .itemCard__7e549 {
    margin-top: 60px;
}
