#authorized-apps-tab .deleteApp_b3a490 {
  opacity: 1;
  border: none;
  background-color: var(--button-danger-background);
  transition: background-color .17s ease,color .17s ease;
}
#authorized-apps-tab .deleteApp_b3a490:hover {
  background-color: var(--button-danger-background-hover);
}
#authorized-apps-tab .children_a6ae9b {
  counter-reset: section -1;
  position: relative;
}
#authorized-apps-tab .children_a6ae9b > .authedApp_f0135d {
  counter-increment: section;
}
#authorized-apps-tab .children_a6ae9b::after {
  counter-increment: section;
  content: "Authorized Apps: "counter(section);
  order: -1;
  position: absolute;
  color: var(--header-primary);
  top: -44px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
#authorized-apps-tab .children_a6ae9b .flexChild_bba380 > h3 {
  display: flex;
}
#authorized-apps-tab .sectionTitle_a6ae9b {
  opacity: 0;
}
#authorized-apps-tab .appAvatar_f0135d {
  width: 46px;
  height: 46px;
  background-color: var(--background-floating);
  box-shadow: 0 0 0 5px var(--background-floating);
}
#authorized-apps-tab .headerInfo_f0135d {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: -50px;
}
#authorized-apps-tab .headerInfo_f0135d > h4 {
  margin-left: 0;
  font-size: 20px;
}
#authorized-apps-tab .authedApp_f0135d:not(:nth-child(2)) {
  margin-top: 40px;
}
#authorized-apps-tab .permission_f0135d {
  border-bottom: 1px solid hsl(var(--primary-300-hsl)/.3);
  padding: 6px;
  height: fit-content;
  transition: .05s;
}
#authorized-apps-tab .permission_f0135d:hover {
  border-color: var(--primary-300);
}
#authorized-apps-tab .authedApp_f0135d {
  background-color: var(--background-secondary-alt);
  transition: box-shadow .2s ease-out,transform .2s ease-out,background .2s ease-out,opacity .2s ease-in,-webkit-box-shadow .2s ease-out,-webkit-transform .2s ease-out;
  border: none;
  border-radius: 8px;
}
#authorized-apps-tab .authedApp_f0135d:hover {
  background-color: var(--background-tertiary);
  transform: translateY(-1px);
  box-shadow: var(--elevation-high);
}
#authorized-apps-tab .authedApp_f0135d:hover .appAvatar_f0135d {
  box-shadow: 0 0 0 5px var(--background-floating),var(--elevation-high);
}
