.ready_a2f514 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px !important;
    height: 150px !important;
}
.container_a2f514 {
    backdrop-filter: blur(48px);
}
.theme-dark .container_a2f514 {
    background-color: rgb(0 0 0/60%);
}
.theme-light .container_a2f514 {
    background-color: rgb(255 255 255/60%);
}
.tip_a2f514 {
    color: var(--header-primary);
    font-size: 30px;
    font-weight: 300;
    opacity: .7;
}
.tipTitle_a2f514,
.tip_a2f514 {
    width: fit-content !important;
    line-height: unset !important;
    max-width: 40vw;
    font-family: var(--font-headline);
    text-transform: none;
    margin-bottom: 8px;
    text-align: left;
}
.text_a2f514 {
    position: absolute;
    top: 57px;
    left: 35px;
    display: flex;
    flex-direction: column-reverse;
}
.problems_a2f514 {
    z-index: +1;
    width: fit-content;
    padding-left: 35px;
}
.problemsText_a2f514 {
    color: var(--header-primary);
}
.tipTitle_a2f514 {
    font-size: 0;
}
.tipTitle_a2f514::after {
    --var-loading-header: "Discord is loading...";
    content: var(--var-loading-header);
    color: var(--header-primary);
    font-size: 22px;
    font-weight: 300;
    opacity: .5;
}
