.ready__61f2f {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px !important;
    height: 150px !important;
}
.container__4bde3 {
    backdrop-filter: blur(48px);
}
.theme-dark .container__4bde3 {
    background-color: rgb(0 0 0/60%);
}
.theme-light .container__4bde3 {
    background-color: rgb(255 255 255/60%);
}
.tipTitle_a7615c,
.tip__6e299 {
    font-size: 0;
    width: fit-content !important;
    max-width: unset !important;
    line-height: unset !important;
    font-family: var(--font-headline);
    text-transform: none;
}
.text__32559 {
    position: absolute;
    top: 57px;
    left: 35px;
}
.problems__755eb {
    z-index: +1;
    width: fit-content;
    padding-left: 35px;
}
.problemsText__046e8 {
    color: var(--header-primary);
}
.tipTitle_a7615c::after {
    --var-loading-header: "Polishing surfaces...";
    content: var(--var-loading-header);
    color: var(--header-primary);
    font-size: 30px;
    font-weight: 300;
    opacity: .7;
}
.tip__6e299::after {
    counter-reset: cyan-version var(--cyan-version) cyan-subversion var(--cyan-subversion) cyan-patch-version var(--cyan-patch-version);
    content: "Discord is loading...";
    color: var(--header-primary);
    font-size: 22px;
    font-weight: 300;
    opacity: .5;
}
