@import url("https://dablulite.github.io/css-snippets/UserReimagined/import.css");
.container__37e49 > .flex__7c0ba {
  position: relative;
  padding-top: 12px;
  margin-bottom: -38px;
  transition: .2s ease;
}
.container__37e49 > .flex__7c0ba:hover {
  margin-bottom: 0;
  padding-top: 6px;
}
.container__37e49 > .flex__7c0ba::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: var(--interactive-muted);
  top: 7px;
  left: calc(50% + 1px);
  border-radius: 50px;
  transform: rotate(12deg) translateX(-100%);
  transition: .2s ease;
}
.container__37e49 > .flex__7c0ba::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: var(--interactive-muted);
  top: 7px;
  right: calc(50% + 1px);
  border-radius: 50px;
  transform: rotate(-12deg) translateX(100%);
  transition: .2s ease;
}
.container__37e49 > .flex__7c0ba:hover::before,
.container__37e49 > .flex__7c0ba:hover::after {
  opacity: 0;
}
