.panels__58331 {
  order: -1;
}
.panels__58331 .avatar_f8541f {
  background-color: var(--background-tertiary);
}
.container_debb33 {
  flex-direction: column;
  padding: 0;
  height: fit-content;
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
  margin-bottom: 0;
}
.panels__58331 .avatarWrapper__500a6 {
  width: 100%;
  margin: 0 !important;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 0;
  cursor: pointer;
}
.panels__58331 .avatarWrapper__500a6:hover {
  background: var(--bg-overlay-selected,var(--background-modifier-selected));
}
.panels__58331 .avatarWrapper__500a6:hover .avatar_f8541f {
  background-color: var(--background-accent);
}
.panels__58331 .avatarWrapper__500a6 .nameTag__77ab2 {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}
.container_debb33 > .flex_f18b02 {
  width: 100%;
  gap: 6px;
  padding: 6px;
  box-sizing: border-box;
}
.container_debb33 > .flex_f18b02 > button {
  border-radius: 50px;
  width: 100%;
  padding: 6px 0;
  height: fit-content;
  --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--inversed-overlay,var(--background-primary));
  transition: color .15s ease-out,background-color .15s ease-out;
}
.subtext_ce73b4,
.panelSubtextContainer_fd5930 {
  max-width: unset;
  display: flex;
  width: 100%;
}
.hoverRoll__3ea9e {
    width: calc(100% - 32px);
}
