.panels_c48ade .avatar__37e49 {
  border: 3px solid var(--background-tertiary);
  margin-top: -15px;
  transform: translateY(-2.5px);
  background-color: var(--background-tertiary);
}
.container__37e49 {
  flex-direction: column;
  padding: 0;
  height: fit-content;
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
  margin-bottom: 0;
}
.panels_c48ade .avatarWrapper__37e49 {
  width: 100%;
  margin: 0 !important;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 0;
  cursor: pointer;
}
.panels_c48ade .avatarWrapper__37e49:hover {
  background: var(--bg-overlay-hover,var(--background-modifier-hover));
}
.panels_c48ade .avatarWrapper__37e49:hover .avatar__37e49 {
  border-color: var(--background-accent);
  background-color: var(--background-accent);
}
.panels_c48ade .avatarWrapper__37e49 .nameTag__37e49 {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}
.container__37e49 > .flex__7c0ba {
  width: 100%;
  gap: 6px;
  padding: 6px;
  box-sizing: border-box;
}
.container__37e49 > .flex__7c0ba > button {
  border-radius: 50px;
  width: 100%;
  padding: 6px 0;
  height: fit-content;
  --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--inversed-overlay,var(--background-primary));
  transition: color .15s ease-out,background-color .15s ease-out;
}
.wrapper_e131a9 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background-modifier-accent);
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
}
.container_e131a9 {
  border-bottom: none;
  background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.wrapper_e131a9:empty {
  display: none;
}
.actionButtons_e131a9 > button,
.actionButtons_e131a9 > div > button,
.actionButtons_e131a9 > div > span > button {
    border-radius: 50px;
    width: 100%;
    padding: 6px 0;
    height: fit-content;
    --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    background: var(--inversed-overlay,var(--background-primary)) !important;
    transition: color .15s ease-out,background-color .15s ease-out;
    max-height: 32px;
}
.actionButtons_e131a9 button:hover {
  background: var(--bg-overlay-hover,var(--background-modifier-hover)) !important;
}
.actionButtons_e131a9 button:active {
  background: var(--bg-overlay-active,var(--background-modifier-active)) !important;
}
.actionButtons_e131a9 > div {
  display: flex;
  width: 100%;
}
.actionButtons_e131a9 > div > span > span {
  display: none;
}
.actionButtons_e131a9 > div > span {
  background-color: transparent !important;
}
.actionButtons_e131a9 {
    width: 100%;
    gap: 6px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
.subtext__339d0,
.panelSubtextContainer__37e49 {
  max-width: unset;
  display: flex;
  width: 100%;
}
.hoverRoll__0263c {
    width: calc(100% - 32px);
}
:is(.wrapper_e131a9:not(:empty), #vc-spotify-player) + .container__37e49 .avatar__37e49 {
    margin-top: 0;
    transform: none;
}
.wrapper_e131a9:not(:empty) {
    padding: 0 !important;
    background: none !important;
    border-bottom: none !important;
}
