.panels_c48ade {
  order: -1;
}
.panels_c48ade .avatar__37e49 {
  background-color: var(--background-tertiary);
}
.container__37e49 {
  flex-direction: column;
  padding: 0;
  height: fit-content;
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
  margin-bottom: 0;
}
.panels_c48ade .avatarWrapper__37e49 {
  width: 100%;
  margin: 0 !important;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 0;
  cursor: pointer;
}
.panels_c48ade .avatarWrapper__37e49:hover {
  background: var(--bg-overlay-selected,var(--background-modifier-selected));
}
.panels_c48ade .avatarWrapper__37e49:hover .avatar__37e49 {
  background-color: var(--background-accent);
}
.panels_c48ade .avatarWrapper__37e49 .nameTag__37e49 {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}
.container__37e49 > .flex__7c0ba {
  width: 100%;
  gap: 6px;
  padding: 6px;
  box-sizing: border-box;
}
.container__37e49 > .flex__7c0ba > button {
  border-radius: 50px;
  width: 100%;
  padding: 6px 0;
  height: fit-content;
  --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--inversed-overlay,var(--background-primary));
  transition: color .15s ease-out,background-color .15s ease-out;
}
.subtext__339d0,
.panelSubtextContainer__37e49 {
  max-width: unset;
  display: flex;
  width: 100%;
}
.hoverRoll__0263c {
    width: calc(100% - 32px);
}
