.panels__58331 .avatar_f8541f {
  border: 3px solid var(--background-tertiary);
  margin-top: -15px;
  transform: translateY(-2.5px);
  background-color: var(--background-tertiary);
}
.container_debb33 {
  flex-direction: column;
  padding: 0;
  height: fit-content;
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
  margin-bottom: 0;
}
.panels__58331 .avatarWrapper__500a6 {
  width: 100%;
  margin: 0 !important;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 0;
  cursor: pointer;
}
.panels__58331 .avatarWrapper__500a6:hover {
  background: var(--bg-overlay-hover,var(--background-modifier-hover));
}
.panels__58331 .avatarWrapper__500a6:hover .avatar_f8541f {
  border-color: var(--background-accent);
  background-color: var(--background-accent);
}
.panels__58331 .avatarWrapper__500a6 .nameTag__77ab2 {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}
.container_debb33 > .flex_f18b02 {
  width: 100%;
  gap: 6px;
  padding: 6px;
  box-sizing: border-box;
}
.container_debb33 > .flex_f18b02 > button {
  border-radius: 50px;
  width: 100%;
  padding: 6px 0;
  height: fit-content;
  --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--inversed-overlay,var(--background-primary));
  transition: color .15s ease-out,background-color .15s ease-out;
}
.wrapper_e832ee {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background-modifier-accent);
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
}
.container_e1958d {
  border-bottom: none;
  background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.wrapper_e832ee:empty {
  display: none;
}
.actionButtons__85e3c > button,
.actionButtons__85e3c > div > button,
.actionButtons__85e3c > div > span > button {
    border-radius: 50px;
    width: 100%;
    padding: 6px 0;
    height: fit-content;
    --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    background: var(--inversed-overlay,var(--background-primary)) !important;
    transition: color .15s ease-out,background-color .15s ease-out;
    max-height: 32px;
}
.actionButtons__85e3c button:hover {
  background: var(--bg-overlay-hover,var(--background-modifier-hover)) !important;
}
.actionButtons__85e3c button:active {
  background: var(--bg-overlay-active,var(--background-modifier-active)) !important;
}
.actionButtons__85e3c > div {
  display: flex;
  width: 100%;
}
.actionButtons__85e3c > div > span > span {
  display: none;
}
.actionButtons__85e3c > div > span {
  background-color: transparent !important;
}
.actionButtons__85e3c {
    width: 100%;
    gap: 6px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
.subtext_ce73b4,
.panelSubtextContainer_fd5930 {
  max-width: unset;
  display: flex;
  width: 100%;
}
.hoverRoll__3ea9e {
    width: calc(100% - 32px);
}
:is(.wrapper_e832ee:not(:empty), #vc-spotify-player) + .container_debb33 .avatar_f8541f {
    margin-top: 0;
    transform: none;
}
.wrapper_e832ee:not(:empty) {
    padding: 0 !important;
    background: none !important;
    border-bottom: none !important;
}
