@import url("https://dablulite.github.io/css-snippets/BetterTitlebar/import.css");
:root {
    --mactitlebar-button-width: 20px;
    --mactitlebar-button-height: 20px;
    --mactitlebar-button-border-radius: 50px;
    --mactitlebar-close-btn-back: #f25056;
    --mactitlebar-min-btn-back: #fac536;
    --mactitlebar-max-btn-back: #39ea49;
}
.winButtonClose_a934d8 {
    order: 3;
    margin: auto 0;
}
.winButtonMinMax_a934d8 {
    order: 1;
    margin: auto 0;
}
.winButtonMinMax_a934d8:last-child {
    margin: auto 0;
}
.winButton_a934d8:hover {
    background-color: transparent !important;
}
.winButtonClose_a934d8 > svg {
    background: var(--mactitlebar-close-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonClose_a934d8 > svg > polygon {
    display: none !important;
}
.winButtonMinMax_a934d8 > svg {
    background: var(--mactitlebar-max-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonMinMax_a934d8:last-child > svg {
    background: var(--mactitlebar-min-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonMinMax_a934d8 > svg > rect {
    display: none !important;
}
.winButton_a934d8:hover {
    background-color: transparent;
}
.winButton_a934d8 {
    width: var(--mactitlebar-button-width) !important;
    height: var(--mactitlebar-button-height) !important;
}
.typeWindows_a934d8 {
    justify-content: start;
}
.winButtonClose_a934d8 > svg:hover,
.winButtonMinMax_a934d8 > svg:hover {
    filter: brightness(.6);
}
