@import url(//dablulite.github.io/css-snippets/BetterTitlebar/import.css);
:root {
    --mactitlebar-button-width: 20px;
    --mactitlebar-button-height: 20px;
    --mactitlebar-button-border-radius: 50px;
    --mactitlebar-close-btn-back: #f25056;
    --mactitlebar-min-btn-back: #fac536;
    --mactitlebar-max-btn-back: #39ea49;
}
.winButtonClose-23zAIt {
    order: 3;
    margin: auto 0;
}
.winButtonMinMax-nT2Irc {
    order: 1;
    margin: auto 0;
}
.winButtonMinMax-nT2Irc:last-child {
    margin: auto 0;
}
.winButton-3SigSb:hover {
    background-color: transparent !important;
}
.winButtonClose-23zAIt > svg {
    background: var(--mactitlebar-close-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonClose-23zAIt > svg > polygon {
    display: none !important;
}
.winButtonMinMax-nT2Irc > svg {
    background: var(--mactitlebar-max-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonMinMax-nT2Irc:last-child > svg {
    background: var(--mactitlebar-min-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonMinMax-nT2Irc > svg > rect {
    display: none !important;
}
.winButton-3SigSb:hover {
    background-color: transparent;
}
.winButton-3SigSb {
    width: var(--mactitlebar-button-width) !important;
    height: var(--mactitlebar-button-height) !important;
}
.typeWindows-3ILlhq {
    justify-content: start;
}
.winButtonClose-23zAIt > svg:hover,
.winButtonMinMax-nT2Irc > svg:hover {
    filter: brightness(.6);
}
