@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.panels_a4d4d9 .avatar_b2ca13 {
  border: 3px solid var(--background-tertiary);
  margin-top: -15px;
  transform: translateY(-2.5px);
  background-color: var(--background-tertiary);
}
.container_b2ca13 {
  flex-direction: column;
  padding: 0;
  height: fit-content;
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
  margin-bottom: 0;
}
.panels_a4d4d9 .avatarWrapper_b2ca13 {
  width: 100%;
  margin: 0 !important;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 0;
  cursor: pointer;
}
.panels_a4d4d9 .avatarWrapper_b2ca13:hover {
  background: var(--bg-overlay-hover,var(--background-modifier-hover));
}
.panels_a4d4d9 .avatarWrapper_b2ca13:hover .avatar_b2ca13 {
  border-color: var(--background-accent);
  background-color: var(--background-accent);
}
.panels_a4d4d9 .avatarWrapper_b2ca13 .nameTag_b2ca13 {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}
.container_b2ca13 > .flex_bba380 {
  width: 100%;
  gap: 6px;
  padding: 6px;
  box-sizing: border-box;
}
.container_b2ca13 > .flex_bba380 > button {
  border-radius: 50px;
  width: 100%;
  padding: 6px 0;
  height: fit-content;
  --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--inversed-overlay,var(--background-primary));
  transition: color .15s ease-out,background-color .15s ease-out;
}
.wrapper_adcaac {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background-modifier-accent);
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
}
.container_adcaac {
  border-bottom: none;
  background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.wrapper_adcaac:empty {
  display: none;
}
.actionButtons_adcaac > button,
.actionButtons_adcaac > div > button,
.actionButtons_adcaac > div > span > button {
    border-radius: 50px;
    width: 100%;
    padding: 6px 0;
    height: fit-content;
    --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    background: var(--inversed-overlay,var(--background-primary)) !important;
    transition: color .15s ease-out,background-color .15s ease-out;
    max-height: 32px;
}
.actionButtons_adcaac button:hover {
  background: var(--bg-overlay-hover,var(--background-modifier-hover)) !important;
}
.actionButtons_adcaac button:active {
  background: var(--bg-overlay-active,var(--background-modifier-active)) !important;
}
.actionButtons_adcaac > div {
  display: flex;
  width: 100%;
}
.actionButtons_adcaac > div > span > span {
  display: none;
}
.actionButtons_adcaac > div > span {
  background-color: transparent !important;
}
.actionButtons_adcaac {
    width: 100%;
    gap: 6px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
.subtext_e06aad,
.panelSubtextContainer_b2ca13 {
  max-width: unset;
  display: flex;
  width: 100%;
}
.hoverRoll_c0d6c6 {
    width: calc(100% - 32px);
}
:is(.wrapper_adcaac:not(:empty), #vc-spotify-player) + .container_b2ca13 .avatar_b2ca13 {
    margin-top: 0;
    transform: none;
}
.wrapper_adcaac:not(:empty) {
    padding: 0 !important;
    background: none !important;
    border-bottom: none !important;
}
.avatarWrapper_b2ca13 {
    width: 100%;
    height: 56px;
}
.container_b2ca13 > .flex_bba380 > button {
    background: transparent;
}
.panels_a4d4d9 .avatar_b2ca13 {
    margin-top: 0;
    transform: none;
    border-color: var(--background-floating);
}
.children_e44302:after {
    content: none;
}
.layer_cd0de5:has(>.menu_d90b3d) {
    max-width: unset !important;
    right: unset !important;
    top: unset !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
}
.menu_d90b3d {
    width: 100% !important;
    max-width: unset !important;
    border-radius: 24px 24px 0 0;
    background-color: var(--background-primary);
    padding: 20px;
}
.typeWindows_a934d8 {
    margin: 0;
    top: 0;
    height: 40px;
}
.wordmark_a934d8 {
    margin: calc(17px/2) 0;
    margin-left: 16px;
}
.sidebar_a4d4d9 {
    border-top-left-radius: 20px !important;
}
.winButton_a934d8 {
    top: 6px;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    margin-right: 6px;
    background-color: var(--background-primary);
}
.app_a01fb1 {
    top: 40px;
    height: calc(100% - 40px);
}
.menu_d90b3d .scrollerBase_c49869 {
    background-color: var(--background-primary);
    border-radius: 20px;
}
.menu_d90b3d > div {
    margin-bottom: -20px;
    animation: animateMenu .4s ease;
    padding: 0;
}
@keyframes animateMenu {
    0% {
        margin-bottom: -80%;
    }
    70% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: -20px;
    }
}
.searchBar_f0963d::before {
    content: "Messages";
    color: var(--header-primary);
    font-weight: bold;
    font-size: 20px;
    margin-right: 16px;
    margin-left: 8px;
}
.layerContainer_cd0de5 {
    transition: background .2s ease;
}
.layerContainer_cd0de5:not(:empty):has(>div>.menu_d90b3d) {
    background-color: rgb(0,0,0,.85) !important;
}
.notAppAsidePanel_bd26cc:has(.layerContainer_cd0de5:not(:empty) >div>.menu_d90b3d) .container_a4d4d9 {
    pointer-events: none;
}
.labelContainer_d90b3d {
    margin: 0;
    border-radius: 0 !important;
    padding: 16px;
}
.form_a7d72e {
  margin-top: 0;
  padding: 10px;
  border-top: 1px solid var(--primary-560);
}
.channelTextArea_a7d72e {
    margin-bottom: 0;
}
.scrollableContainer_d0696b,
.channelTextArea_a7d72e {
    background: none;
}
.channelTextArea_a7d72e .inner_d0696b {
    padding: 0;
    width: 100%;
    gap: 8px;
}
.channelTextArea_a7d72e .inner_d0696b > textarea,
.channelTextArea_a7d72e .inner_d0696b .attachButton_d0696b,
.channelTextArea_a7d72e .inner_d0696b > .buttons_d0696b > * {
    background-color: var(--background-tertiary);
}
.channelTextArea_a7d72e .inner_d0696b > .buttons_d0696b > * {
    width: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.channelTextArea_a7d72e .inner_d0696b > .buttons_d0696b {
    gap: 8px;
}
.channelTextArea_a7d72e .inner_d0696b > .buttons_d0696b .innerButton_a06035 {
    margin: 0;
}
.channelTextArea_a7d72e .inner_d0696b > textarea {
    border-radius: 25px;
    padding: 10px;
}
.channelTextArea_a7d72e .inner_d0696b .attachButton_d0696b {
    margin-left: 0;
    padding: 10px;
    border-radius: 50%;
}
.channelTextArea_a7d72e > .scrollableContainer_d0696b {
    padding-right: 0;
    width: 100%;
    overflow-y: overlay !important;
}
.base_d7ebeb {
    position: static;
    padding-top: 8px;
}
.separator_a06035 {
    margin: 0;
}
.separator_a06035::before {
    content: none;
}
.webkit__8d35a .buttons_d0696b {
    margin-right: 0;
}
.divider_fc5f50 {
    display: none;
}
.hamburger_e44302 {
    margin-right: 0;
}
.buttons_d5deea .wrapper_ef319f {
    width: 100%;
    max-width: unset;
    justify-content: space-between;
    background-color: var(--background-secondary);
    box-shadow: var(--elevation-stroke),var(--elevation-medium);
    border-radius: 8px;
}
.buttons_d5deea {
    padding: 0 !important;
}
.buttonContainer_ec86aa {
    display: none;
}
.message_d5deea.selected_d5deea .buttonContainer_ec86aa,
.message_d5deea:hover .buttonContainer_ec86aa,
.buttonContainer_ec86aa:hover {
    display: block !important;
}
.wrapper_a24e84 {
    padding: 6px;
    gap: 4px;
    box-sizing: border-box;
}
.wrapper_a24e84 > .customItem_d90b3d {
    display: contents;
}
.item_d90b3d + .layer_cd0de5 {
    left: 0 !important;
    top: unset !important;
    bottom: 0;
    width: 100%;
    z-index: +2;
}
.wrapper_a24e84 .button_a24e84 {
    background-color: var(--background-primary);
    box-sizing: border-box;
    width: 50px;
    height: 50px;
}
.menu_d90b3d > .scroller_d90b3d::-webkit-scrollbar {
    width: 0;
}
.menu_d90b3d {
    background-color: var(--background-tertiary);
}
.menu_d90b3d div[role="group"]:not(.wrapper_a24e84) {
    overflow: hidden;
}
.menu_d90b3d div[role="group"]:nth-child(2) {
    border-radius: 24px 24px 0 0;
}
.menu_d90b3d div[role="group"]:has(+ div[aria-hidden="true"]) {
    border-radius: 0 0 24px 24px;
    margin-bottom: 24px;
}
.menu_d90b3d div[role="separator"] {
    margin: 0 24px;
}
.icon_a24e84 {
    width: 32px;
    height: 32px;
}
.toolbar_e44302 > .iconWrapper_e44302 {
    background-color: var(--background-secondary);
    border-radius: 50px;
    padding: 5px;
    height: fit-content;
}
.container_e44302 {
    padding: 5px 10px;
    height: fit-content;
    background: var(--bg-overlay-chat,var(--background-primary)) !important;
}
.divider_e44302 {
    display: none;
}
.nameTag_b2ca13 {
    display: none !important;
}
.container_b2ca13 {
    flex-direction: row-reverse;
}
.avatarWrapper_b2ca13 {
    justify-content: center;
    width: calc(100%/4) !important;
    background-color: transparent !important;
    flex-direction: column;
}
.avatarWrapper_b2ca13::after {
    content: "You";
    color: var(--interactive-normal);
}
.container_b2ca13 .flex_bba380 {
    padding: 0;
    height: 56px;
}
.container_b2ca13 .flex_bba380 .button_f67531 {
    padding: 0;
    height: 56px;
    border-radius: 0;
    background-color: transparent !important;
    transition: 0;
    flex-direction: column;
}
.container_b2ca13 .flex_bba380 .button_f67531 > .contents_dd4f85 {
    width: 32px;
    height: 32px;
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_b2ca13 .flex_bba380 .button_f67531::after {
    content: "";
    color: var(--interactive-normal);
    line-height: 14px;
}
.container_b2ca13 .flex_bba380 .button_f67531:nth-child(1)::after {
    content: "Mute";
}
.container_b2ca13 .flex_bba380 .button_f67531:nth-child(2)::after {
    content: "Deafen";
}
.container_b2ca13 .flex_bba380 .button_f67531:nth-child(3)::after {
    content: "Settings";
}
.panels_a4d4d9 .container_b2ca13 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--interactive-muted);
    animation: showBottomBar ease .3s;
}
@keyframes showBottomBar {
    from {
        bottom: -57px;
    }
    to {
        bottom: 0;
    }
}
.panels_a4d4d9 {
    padding-bottom: 57px;
}
#vc-spotify-player {
    border-bottom: none;
}
.guilds_a4d4d9 .scroller_fea3ef {
    padding-bottom: 69px;
}
.wrapper_faf5ab {
    border-radius: 0;
    background-color: transparent;
    flex-direction: column;
    gap: 12px;
    height: fit-content;
    margin-bottom: 0;
    padding-top: 0;
}
.wrapper_faf5ab > .buttonContainer_faf5ab {
    display: contents;
}
.wrapper_faf5ab > .buttonContainer_faf5ab > .button_faf5ab {
    margin: 0;
    width: 100% !important;
    max-width: unset;
    border-radius: 25px;
    background-color: var(--brand-experiment);
}
.wrapper_faf5ab .image_faf5ab {
    display: none;
}
.wrapper_faf5ab > .content_faf5ab {
    margin: 0;
}
.dropdownButton_ee69e0 {
    margin-left: 0;
}
.headerChildren_fd6364 {
    border-radius: 50px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
}
.button_a79c58.open_a79c58 {
    transform: unset !important;
    --custom-fix-rspack-build-bug: unset !important;
}
.name_fd6364 {
    border-radius: 50px;
    padding: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    margin-right: 0;
}
.button_a79c58.open_a79c58 path {
    stroke-dasharray: 7;
}
.guildIconV2Container_ed9816 + .name_fd6364 {
    border-radius: 0 50px 50px 0;
}
.guildIconV2Container_ed9816 {
    border-radius: 50px 0 0 50px;
    padding: 6px;
    margin-right: 0;
    align-self: stretch;
    display: flex;
    align-items: center;
}
.headerContent_fd6364 {
    height: fit-content;
    justify-content: start;
}
.guildIconV2Container_ed9816 > div[role="button"] {
    height: fit-content;
}
.layer_cd0de5:has(.emojiPicker_c6ee36) {
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important
}
.emojiPicker_c6ee36 {
    width: 100%;
}
.emojiListRow_fbfedd {
    width: 432px;
    margin-left: auto;
    margin-right: auto;
}
.header_c6ee36 {
    border-radius: 0;
    border-top: 1px solid var(--interactive-muted);
}
.interactiveSelected_c91bad {
    background-color: transparent;
}
.interactive_c91bad,
.channel_c91bad {
    width: 100%;
    max-width: unset;
}
.privateChannels_f0963d .scroller_c47fa9::-webkit-scrollbar {
    width: 0;
}
.privateChannels_f0963d .channel_c91bad {
    width: calc(100% - 8px) !important;
    margin: 0 4px;
}
.privateChannels_f0963d .interactive_c91bad {
    transition: .2s ease;
}
.privateChannels_f0963d .interactive_c91bad:hover {
    background-color: var(--background-tertiary);
    border-radius: 16px;
}
.privateChannels_f0963d .svg_c51b4e {
    width: 38px;
    height: 38px;
    position: static;
}
.privateChannels_f0963d .wrapper_c51b4e,
.privateChannels_f0963d .avatar_f9647d {
    width: unset !important;
    height: unset !important;
}
.privateChannels_f0963d .avatar_f9647d {
    margin: 8px;
}
.privateChannels_f0963d .layout_f9647d {
    height: 58px;
}
.privateChannels_f0963d .svg_c51b4e:has(rect) {
    width: 44px;
    height: 44px;
    margin-top: 8px;
    margin-left: 2px;
}
.searchBar_f0963d {
    box-shadow: none;
}
.searchBarComponent_f0963d {
    border-radius: 25px !important;
    padding: 6px;
    width: 36px !important;
    font-size: 0 !important;
    height: fit-content !important;
    position: relative;
}
.searchBarComponent_f0963d::before {
    content: "\F52A";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "bootstrap-icons";
    font-size: 16px;
}
.sidebarRegionScroller_c25c6d::-webkit-scrollbar {
    width: 0;
}
.mobileSidebar_c25c6d {
    width: 100vw;
    padding: 0 24px;
    padding-top: 79px;
}
.item_a0 {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    padding: 16px !important;
    background-color: var(--background-tertiary);
}
.header_a0 + .item_a0,
.separator_a0 + .item_a0 {
    border-radius: 12px 12px 0 0 !important;
}
.separator_a0 + .item_a0 {
    margin-top: 8px;
}
.item_a0:has(+.separator_a0) {
    border-radius: 0 0 12px 12px !important
}
.header_a0 + .item_a0:has(+.separator_a0),
.separator_a0 + .item_a0:has(+.separator_a0) {
    border-radius: 12px !important;
}
.closeButton_df5532 {
    border: none;
}
.mobileSidebarHeader_c25c6d {
    position: fixed;
    z-index: +1;
    width: 100vw;
    top: 0;
    left: 0;
    height: 55px;
    background-color: var(--background-secondary);
    border-bottom: 1px solid var(--interactive-muted);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobileSidebarHeader_c25c6d::after {
    content: "Settings";
    color: var(--header-primary);
    font-weight: bold;
    font-size: 18px;
}
.toolsContainer_c25c6d {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 0;
    height: 55px;
    justify-content: center;
    align-items: center;
}
.tools_c25c6d {
    display: contents;
}
.separator_a0 {
    display: none;
}
.header_a0 {
    margin-top: 8px;
}
.container_b2ca13 > .flex_bba380 {
    gap: 0;
}
