@import url("https://dablulite.github.io/css-snippets/DeclutterBar/import.css");
.container_fc4f04 {
    background: rgb(0,0,0,.6) !important;
    top: -16px;
    transition: .25s ease;
    z-index: +1000;
    opacity: 0;
}
.container_fc4f04 .upperContainer_fc4f {
    -webkit-app-region: no-drag;
}
.container_fc4f04::before {
    content: "";
    height: 84px;
    width: 12px;
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    left: 0;
    order: 5;
}
.container_fc4f04:hover,
#app-mount:has(.container_fc4f04:hover) .titleBar_a934d8,
.titleBar_a934d8:hover,
#app-mount:has(.titleBar_a934d8:hover) .container_fc4f04 {
    top: 0 !important;
    opacity: 1 !important;
}
.platform-win .scroller_ef3116 {
    padding-top: 12px;
}
.platform-win .sidebar_c48ade {
    border-radius: 0;
}
.members_c8ffbb {
    padding-top: 31px;
}
.container__01ae2 > .container_fc4f04 {
    padding-top: 31px;
    height: 62px;
}
:is(.chat_a7d72e,.headerWrapper_d880dc,.container__133bf,.homeWrapper__0920e,.shop__6db1d) > .container_fc4f04 {
    background: rgb(0,0,0,.6) !important;
    top: -16px;
    transition: .25s ease;
    z-index: +1000;
    opacity: 0;
}
:is(.chat_a7d72e,.headerWrapper_d880dc,.container__133bf,.homeWrapper__0920e,.shop__6db1d) > .container_fc4f04 .upperContainer_fc4f {
    -webkit-app-region: no-drag !important;
}
.titleBar_a934d8 {
    position: fixed;
    right: 0;
    transition: .25s ease;
    opacity: .5;
    background: none !important;
}
:is(.chat_a7d72e,.headerWrapper_d880dc,.container__133bf,.homeWrapper__0920e,.shop__6db1d) > .container_fc4f04:hover,
#app-mount:has(:is(.chat_a7d72e,.headerWrapper_d880dc,.container__133bf,.homeWrapper__0920e,.shop__6db1d) > .container_fc4f04:hover) :is(.titleBar_a934d8,.newMessagesBar__0f481 .barButtonAlt__0f481),
.titleBar_a934d8:hover,
.newMessagesBar__0f481 .barButtonAlt__0f481:hover,
#app-mount:has(.titleBar_a934d8:hover,.newMessagesBar__0f481 .barButtonAlt__0f481:hover) :is(.chat_a7d72e,.headerWrapper_d880dc,.container__133bf,.homeWrapper__0920e,.shop__6db1d) > .container_fc4f04 {
    top: 0 !important;
    opacity: 1 !important;
}
.platform-win .scroller_ef3116 {
    padding-top: 12px;
}
.platform-win .sidebar_c48ade {
    border-radius: 0;
}
.members_c8ffbb {
    padding-top: 31px;
}
.container__01ae2 > .container_fc4f04 {
    padding-top: 31px;
    height: 62px;
}
