@import url("https://dablulite.github.io/css-snippets/DeclutterBar/import-trafficlights.css");
.chat_a7d72e > .container_fc4f04,
.headerWrapper_d880dc > .container_fc4f04 {
    background: rgb(0,0,0,.6) !important;
    top: -16px !important;
    transition: .25s ease;
    z-index: +1000;
    opacity: 0 !important;
}
.chat_a7d72e > .container_fc4f04 .upperContainer_fc4f,
.headerWrapper_d880dc > .container_fc4f04 .upperContainer_fc4f {
    -webkit-app-region: no-drag !important;
}
.titleBar_a934d8 {
    position: fixed;
    left: 0;
    transition: .25s ease;
    opacity: .5;
    background: none !important;
}
.chat_a7d72e > .container_fc4f04::before,
.headerWrapper_d880dc > .container_fc4f04::before {
    content: "";
    height: 84px;
    width: 12px;
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    left: 0;
    order: 5;
}
.chat_a7d72e > .container_fc4f04:hover,
.headerWrapper_d880dc > .container_fc4f04:hover,
#app-mount:has(.chat_a7d72e > .container_fc4f04:hover) .titleBar_a934d8,
#app-mount:has(.headerWrapper_d880dc > .container_fc4f04:hover) .titleBar_a934d8,
.titleBar_a934d8:hover,
#app-mount:has(.titleBar_a934d8:hover) .chat_a7d72e > .container_fc4f04,
#app-mount:has(.titleBar_a934d8:hover) .headerWrapper_d880dc > .container_fc4f04 {
    top: 0 !important;
    opacity: 1 !important;
}
.platform-win .scroller_ef3116 {
    padding-top: 32px;
}
.platform-win .sidebar_c48ade {
    border-radius: 0;
}
.container__01ae2 > .container_fc4f04 {
    padding-top: 31px;
    height: 62px;
}
