@import url("https://dablulite.github.io/css-snippets/DeclutterBar/import.css");
.container__11d72 {
    background: rgb(0,0,0,.6) !important;
    top: -16px;
    transition: .25s ease;
    z-index: +1000;
    opacity: 0;
}
.container__11d72 .upperContainer__993ba {
    -webkit-app-region: no-drag;
}
.container__11d72::before {
    content: "";
    height: 84px;
    width: 12px;
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    left: 0;
    order: 5;
}
.container__11d72:hover,
#app-mount:has(.container__11d72:hover) .titleBar__01af6,
.titleBar__01af6:hover,
#app-mount:has(.titleBar__01af6:hover) .container__11d72 {
    top: 0 !important;
    opacity: 1 !important;
}
.platform-win .scroller__3d071 {
    padding-top: 12px;
}
.platform-win .sidebar_ded4b5 {
    border-radius: 0;
}
.members__9f47b {
    padding-top: 31px;
}
.container_def45c > .container__11d72 {
    padding-top: 31px;
    height: 62px;
}
:is(.chat__52833,.headerWrapper__94dd8,.container__5c7e7,.homeWrapper__59a03,.shop_b31ed2) > .container__11d72 {
    background: rgb(0,0,0,.6) !important;
    top: -16px;
    transition: .25s ease;
    z-index: +1000;
    opacity: 0;
}
:is(.chat__52833,.headerWrapper__94dd8,.container__5c7e7,.homeWrapper__59a03,.shop_b31ed2) > .container__11d72 .upperContainer__993ba {
    -webkit-app-region: no-drag !important;
}
.titleBar__01af6 {
    position: fixed;
    right: 0;
    transition: .25s ease;
    opacity: .5;
    background: none !important;
}
:is(.chat__52833,.headerWrapper__94dd8,.container__5c7e7,.homeWrapper__59a03,.shop_b31ed2) > .container__11d72:hover,
#app-mount:has(:is(.chat__52833,.headerWrapper__94dd8,.container__5c7e7,.homeWrapper__59a03,.shop_b31ed2) > .container__11d72:hover) :is(.titleBar__01af6,.newMessagesBar__8b6d7 .barButtonAlt__4b48f),
.titleBar__01af6:hover,
.newMessagesBar__8b6d7 .barButtonAlt__4b48f:hover,
#app-mount:has(.titleBar__01af6:hover,.newMessagesBar__8b6d7 .barButtonAlt__4b48f:hover) :is(.chat__52833,.headerWrapper__94dd8,.container__5c7e7,.homeWrapper__59a03,.shop_b31ed2) > .container__11d72 {
    top: 0 !important;
    opacity: 1 !important;
}
.platform-win .scroller__3d071 {
    padding-top: 12px;
}
.platform-win .sidebar_ded4b5 {
    border-radius: 0;
}
.members__9f47b {
    padding-top: 31px;
}
.container_def45c > .container__11d72 {
    padding-top: 31px;
    height: 62px;
}
