@import url("https://dablulite.github.io/css-snippets/DeclutterBar/import-trafficlights.css");
.chat__52833 > .container__26baa,
.headerWrapper_ea51a0 > .container__26baa {
    background: rgb(0,0,0,.6) !important;
    top: -16px !important;
    transition: .25s ease;
    z-index: +1000;
    opacity: 0 !important;
}
.chat__52833 > .container__26baa .upperContainer__57565,
.headerWrapper_ea51a0 > .container__26baa .upperContainer__57565 {
    -webkit-app-region: no-drag !important;
}
.titleBar__710b0 {
    position: fixed;
    left: 0;
    transition: .25s ease;
    opacity: .5;
    background: none !important;
}
.chat__52833 > .container__26baa::before,
.headerWrapper_ea51a0 > .container__26baa::before {
    content: "";
    height: 84px;
    width: 12px;
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    left: 0;
    order: 5;
}
.chat__52833 > .container__26baa:hover,
.headerWrapper_ea51a0 > .container__26baa:hover,
#app-mount:has(.chat__52833 > .container__26baa:hover) .titleBar__710b0,
#app-mount:has(.headerWrapper_ea51a0 > .container__26baa:hover) .titleBar__710b0,
.titleBar__710b0:hover,
#app-mount:has(.titleBar__710b0:hover) .chat__52833 > .container__26baa,
#app-mount:has(.titleBar__710b0:hover) .headerWrapper_ea51a0 > .container__26baa {
    top: 0 !important;
    opacity: 1 !important;
}
.platform-win .scroller_de945b {
    padding-top: 32px;
}
.platform-win .sidebar_e031be {
    border-radius: 0;
}
.container__694a1 > .container__26baa {
    padding-top: 31px;
    height: 62px;
}
