.panels__58331 {
    margin: 5px;
    margin-top: 0;
    border-radius: 12px;
    overflow: hidden;
    transition: .2s;
}
.panels__58331:hover {
    box-shadow: var(--light-elevation-border),var(--elevation-high);
}
.panels__58331 .container_ca50b9 {
    flex-direction: column;
    height: 88px;
    padding: 8px;
    background: var(--background-floating) !important;
    margin-bottom: -36px;
    transition: .2s;
}
.panels__58331:hover .container_ca50b9 {
    margin-bottom: 0;
}
.panels__58331 .avatarWrapper_ba5175 {
    margin-right: 0;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 4px;
    border-radius: 8px;
    transition: .15s;
}
.panels__58331 .directionRow__2bb0b {
    gap: 4px;
}
.panels__58331 .directionRow__2bb0b > button {
    width: calc((224px/3) - 7px);
    border-radius: 8px;
    transition: .15s;
}
