div:not(:has(.videoWrapper__6981d)) + .pictureInPicture__6341f,
div:not(:has(.videoWrapper__6981d)) + .pictureInPicture__6341f * {
    opacity: 0;
    pointer-events: none !important;
    transition: 0s !important;
}
