:root {
  --nitrolike-profile-primary: var(--background-primary);
  --nitrolike-profile-secondary: var(--background-primary);
  --nitrolike-profile-gradient: var(--bg-overlay-app-frame,var(--nitrolike-profile-gradient-default));
  --nitrolike-profile-gradient-default: linear-gradient(var(--nitrolike-profile-primary),var(--nitrolike-profile-secondary));
}
.userProfileOuterUnthemed__48723 {
  padding: 4px;
  border-radius: 4px;
}
.userProfileOuterUnthemed__48723 .buttonColor__01bf8 {
  background-color: var(--nitrolike-profile-primary) !important;
}
.userProfileOuterUnthemed__48723 > div {
  border-radius: 4px;
}
.userProfileOuterUnthemed__48723,
.userProfileOuterUnthemed__48723 > div {
  background: var(--nitrolike-profile-gradient);
}
.theme-dark .userProfileOuterUnthemed__48723 .overlayBackground__86b78,
.theme-dark .userProfileOuterUnthemed__48723 .userProfileInner__8065b::before {
  background: hsla(0,0%,0%,0.6) !important;
}
.theme-light .userProfileOuterUnthemed__48723 .overlayBackground__86b78,
.theme-light .userProfileOuterUnthemed__48723 .userProfileInner__8065b::before {
  background: hsla(0,0%,85%,0.6) !important;
}
.userProfileOuterUnthemed__48723 .profileBadges__7a7cb,
.userProfileOuterUnthemed__48723 .badgeList-2aoHPw {
  background-color: var(--nitrolike-profile-secondary);
}
.userPopoutOuter_d739b2:has(.userProfileInnerThemedNonPremium__3d0a6) .avatarWrapper_f77579 {
  left: 26px;
  top: 20px;
  z-index: +1;
}
.userProfileOuterUnthemed__48723 .banner__6d414 {
  border-radius: 4px 4px 0 0;
}
