.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) {
    border-radius: 8px;
    background-color: #000;
    padding: 16px
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) :is(.content_d7cb7f, .anchor_c8ddc0, .themed__857a7 .text__13126) {
    color: #fff
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .barInner_d1abc6 {
    background-color: #fff !important
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .contentImagesUserPopoutV2__04250 .state_a85ac0,
.vc-spotify-ellipoverflow:has(>#vc-spotify-album-title),
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7)>.headerContainer__2ec4e {
    display: none
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .contentImagesUserPopoutV2__04250 .textRow__4750e:nth-of-type(2),
.vc-spotify-ellipoverflow:has(>.vc-spotify-artist) {
    font-size: 0;
    line-height: unset
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .contentImagesUserPopoutV2__04250 .textRow__4750e:nth-of-type(2) .activityName__47e51 {
    font-size: 14px;
    opacity: .6
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .assetsLargeImage_b88a59 {
    border-radius: 4px
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .buttonColor__01bf8 {
    background-color: transparent !important;
    border-radius: 50px;
    border: 1px solid #fff;
    transition: none !important;
    color: #1fdf64 !important
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .platformIcon__05c5e {
    display: none !important
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .iconButton__878e3,
.vc-spotify-button:has(>:is(.vc-spotify-pause,.vc-spotify-play)) {
    background-color: #fff !important;
    color: #000 !important
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .buttonColor__01bf8:hover,
.vc-spotify-button:has(>.vc-spotify-pause):hover {
    scale: 1.05
}
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/CircularSp-Book-4eaffdf96f4c6f984686e93d5d9cb325.woff2);
    font-weight: 400
}
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/CircularSp-Bold-fe1cfc14b7498b187c78fa72fb72d148.woff2);
    font-weight: 600
}
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/CircularSpTitle-Bold-2fbf72b606d7f0b0f771ea4956a8b4d6.woff2);
    font-weight: 700
}
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/CircularSpTitle-Black-3f9afb402080d53345ca1850226ca724.woff2);
    font-weight: 800
}
#vc-spotify-player .bar_e58961,
#vc-spotify-player .barFill__30e17 {
    border-radius: 8px
}
#vc-spotify-player .grabber_d2868c {
    background-color: #fff !important;
    border-color: #fff !important;
    opacity: 0
}
#vc-spotify-player .bar_e58961:is(:hover, :has(.barFill__30e17:hover))+.track_a48141>.grabber_d2868c,
#vc-spotify-player .grabber_d2868c:hover {
    opacity: 1
}
#vc-spotify-player .bar_e58961,
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .bar_e63719 {
    background-color: #4d4d4d
}
#vc-spotify-player .barFill__30e17 {
    background-color: #fff
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .bar_e63719:hover>.barInner_d1abc6,
#vc-spotify-player .bar_e58961:hover>.barFill__30e17 {
    background-color: #1bc357 !important
}
#vc-spotify-player {
    background-color: #000 !important
}
#vc-spotify-info-wrapper #vc-spotify-album-image {
    height: 56px !important;
    width: 56px !important;
    border-radius: 4px
}
#vc-spotify-info-wrapper {
    height: 56px;
    --fallback-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "Spotify", var(--fallback-font);
    font-family: var(--font-display) !important
}
#vc-spotify-titles {
    font-weight: 400 !important
}
.vc-spotify-artist {
    font-size: 14px !important;
    --fallback-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "Spotify", var(--fallback-font);
    font-family: var(--font-display) !important
}
.vc-spotify-artist:not(:last-of-type)::after {
    content: ","
}
.vc-spotify-button:hover {
    background-color: transparent;
    cursor: default
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7),
#vc-spotify-controls {
    --fallback-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-primary: "Spotify", var(--fallback-font);
    --font-display: "Spotify", var(--fallback-font);
    font-family: var(--font-display) !important
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) :is(.activityName__47e51, .detailsWrap-omKn0b) {
    font-weight: 400
}
.vc-spotify-button-row {
    gap: 8px !important
}
#vc-spotify-player {
    display: flex;
    flex-direction: column;
}
#vc-spotify-info-wrapper {
    order: 0;
}
.vc-spotify-button-row {
    order: 2;
    margin: 5px 0 !important;
}
#vc-spotify-progress-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    order: 3;
    margin: 0;
}
.vc-spotify-progress-time {
    position: static;
}
#vc-spotify-progress-bar .sliderContainer__109be {
    height: 12px;
}
